<!DOCTYPE html>
<html lang="pt-br">
	<head>
    <$- include('../standart-preload', {pagetitle: 'Contato', pagename: "contact"}) $>

		<script type="text/javascript">
		</script>
	</head>
	<body >

		<!-- .topbar -->
		<$- include('../topbar', {classTopbar: "dark"}); $>

    <$- include('../other-pages', {
			pagename: "contato",
			pagephrase: "In voluptate veniam adipisicing esse Lorem",
			filename: 'contact'
		}) $>

		<section class="page-wrapper" >

		</section>

		<$- include('../footer') $>

	</body>
</html>
