<!DOCTYPE html>
<html lang="pt-br">
	<head>
    <$- include('../standart-preload', {pagetitle: 'Contato', pagename: "contact"}) $>

		<script type="text/javascript">
		</script>
	</head>
	<body >

		<!-- .topbar -->
		<$- include('../topbar', {classTopbar: "dark"}); $>

    <$- include('../other-pages', {pagename: "contato", pagephrase: "O que é, é e não pode não ser"}) $>

		<section class="page-wrapper" >

		</section>

		<$- include('../footer') $>

	</body>
</html>
