<!DOCTYPE html>
<html lang="pt-br">
	<head>

		<$- include('../standart-preload', {pagetitle: "Página do Admininstrador", pagename: "admin"}); $>

	</head>
	<body>

		<!-- .topbar -->
		<$- include('../topbar', {classTopbar: 'dark'}); $>

		<header class="introduce align-center-both-table viewport-units" data-properties="height: 50vh" >
			<div class="content-align">
				<div class="content-wrapper">
					<h1>Página do Administrador</h1>
				</div>
			</div>
		</header>
    <div class="page-wrapper responsive-width m-auto">
			<div class="content">

				<!-- Section .establishments-manage -->
				<$- include('./partials/establishment-manage'); $>

				<!-- Section .audios-manage -->
				<$- include('./partials/audio-manage'); $>

				<a href="/admin/logout" class="btn-plain"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
			</div>
    </div>
		<script src="/public/javascript/adminIndex.js" charset="utf-8"></script>

		<!-- Footer .main-footer -->
		<$- include('../footer') $>

	</body>
</html>
