<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Login Administrador | Ruas Biográficas</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link href="/public/stylesheet/general.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Maven+Pro|Raleway|Ubuntu" rel="stylesheet">
		<link href="/public/stylesheet/libs/font-awesome/font-awesome.min.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="content-language" content="br" />
		<script src="/public/javascript/libs/modernizr/modernizr.js" ></script>
		<script src="/public/javascript/general.js" ></script>
		<style>
  		body{
	      background: #18536c;
	      background: -webkit-linear-gradient(to left, #18536c , #2c8b96);
	      background: linear-gradient(to left, #18536c , #2c8b96);
	      position: relative;
	    }
	    body:before{
	      content: '';
	      position: absolute;
	      background-image: url('/public/images/icons/city.png');
	      background-repeat: repeat-x;
	      background-position: center bottom;
	      height: 50px;
	      width: 100%;
	      bottom: 0;
	      z-index: 90;
	      transition: background-position 0.5s ease-out 0.1s;
	    }
			.page-wrapper{
				max-width: 500px;
				height: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: #ffffff;
				padding: 15px;
			  border-radius: 4px;
				box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
			}

			.page-wrapper h1{
				font-family: 'Raleway', sans-serif;
				font-size: 1.4em;
				text-align: center;
				color: #666666;
			}

			.page-wrapper h2{
				font-family: 'Raleway', sans-serif;
				font-size: 1.1em;
				text-align: left;
				color: #666666;
			}

			.page-wrapper form label{
			  font-family: 'Maven Pro', sans-serif;
			  display: block;
			  padding-bottom: 5px;
			}

			.page-wrapper form input{
			  font-family: 'Maven Pro', sans-serif;
			  width: 100%;
			  height: auto;
			  padding: 10px 10px;
			  border: 1px solid #999999;
			  border-radius: 4px;
			  margin-bottom: 20px;
			}
			.page-wrapper form input:focus{
			  border: 1px solid #333333;
			}

			.page-wrapper form button[type="submit"]{
			  width: 100%;
			  padding: 15px 0;
			  text-align: center;
			  color: #fff;
			  border-radius: 4px;
			  background: #009492;
			  cursor: pointer;
			  font-family: 'Raleway', sans-serif;
			}
			.page-wrapper .info{
			  width: 100%;
			  padding: 15px;
			  text-align: center;
			  border-radius: 4px;
				border: 1px solid #d37878;
				background: #e29191;
				margin-top: 15px;
			}

		</style>
	</head>
	<body>
    <div class="page-wrapper responsive-width">
			<h1>ACESSO RESTRITO</h1>
			<hr>
			<h2>Faça login para ter acesso:</h2>
			<br>
			<form action="/admin/login" method="post">
				<label for="name"><span>Nome de usuário:</span></label>
				<input type="text" name="username" id="name">
				<label for="password"><span>Senha:</span></label>
				<input type="password" name="password" id="password">
				<button type="submit">Entrar</button>
			</form>
			<$ if(loginStatus){ $>
				<div class="info">
					<$- loginStatus $>
				</div>
			<$ } $>

			<hr>
			<p><i class="fa fa-home" ></i> <a style="display: inline" href="/">Ir à página inicial</a></p>
    </div>
	</body>
</html>
