<section class="components uniform">
	<header>
		<h1 class="simple">
			<span>QUEM FAZ A MANDALLA GIRAR</span>
			<br>
			<hr>
		</h1>
	</header>
	<article class="content">
		<$ data.components.forEach(function(component, i){ $>
			<div class="row clearfix <$- (i % 2 == 0 ? 'right' : 'left') $>">
				<div class="wrapper" data-src="<$- component.src $>" >
					<$ if(i % 2 == 0){ $>
						<div class="person-picture clearfix">
							<img src="/public/Images/component-photos/<$- component.src $>.jpg" alt="">
						</div>
					<$ } $>
						<div class="text">
							<h3><$- component.name.split(" ").join("<br>") $></h3>
							<!-- <p><$- component.description.content $></p> -->
						</div>
					<$ if(i % 2 != 0){ $>
						<div class="person-picture clearfix">
							<img src="/public/Images/component-photos/<$- component.src $>.jpg" alt="">
						</div>
					<$ } $>
				</div>
			</div>
		<$ }); $>
	</article>
	<div class="component-overlay-background"></div>
	<div class="component-overlay">
		<div class="explain-wrapper">
			<div class="image">

			</div>
			<div class="content">

			</div>
		</div>
	</div>
</section>

<!--
#

<div class="picture-container">
			<div class="picture-seleced-overlay" ></div>
			<div class="picture-wrapper">
				<div class="picture-row">
					<div class="picture top" data-id="01" ></div>
					<div class="picture right" data-id="04" style="display: none"></div>
				</div>
				<div class="picture-row">
					<div class="picture bottom" data-id="03" ></div>
					<div class="picture left" data-id="06" ></div>
				</div>
			</div>
			<div class="picture-wrapper">
				<div class="picture-row">
					<div class="picture top" data-id="02" ></div>
					<div class="picture right" data-id="05" ></div>
				</div>
				<div class="picture-row">
					<div class="picture bottom" data-id="04" ></div>
					<div class="picture left" data-id="07" ></div>
				</div>
			</div>
		</div>

 -->
