<section class="portfolio uniform">
  <div class="title">
    <span>PORTFÓLIO</span>
  </div>
  <div class="row">
    <div class="area-service image" style="background-image: url('/public/Images/portfolio-images/assessoria-de-imprensa.jpg'); background-color: #f3765e" >
      <span>ASSESORIA<br>DE COMUNICAÇÃO</span>  
    </div>
    <div class="area-service image" style="background-image: url('/public/Images/portfolio-images/projetos-visuais.jpg'); background-color: #00afcc" >
      <span>PROJETOS<br>VISUAIS</span>  
    </div>
  </div>
  <div class="row">
    <div class="area-service image" style="background-image: url('/public/Images/portfolio-images/publicações.jpg'); background-color: #987bb8" >
      <span>PUBLICAÇÕES</span>  
    </div>
    <div class="area-service image" style="background-image: url('/public/Images/portfolio-images/outros-serviços.jpg'); background-color: #999999">
      <span>OUTROS<br>SERVIÇOS</span>  
    </div>
  </div>
</section>