<section class="components uniform">
	<header>
		<h1 class="simple">
			<span>QUEM FAZ A MANDALLA GIRAR</span>
			<br>
			<hr> 
		</h1>
	</header>
	<div class="content">
		<div class="selected-name">
			<span>Samir<br>Braga</span>
		</div>
		<span class="close-description">&#x2715;</span>
		<div class="picture-container">
			<div class="picture" data-id="01"></div>
			<div class="picture" data-id="02"></div>
			<div class="picture" data-id="03"></div>
			<div class="picture" data-id="04"></div>
			<div class="picture" data-id="05" ></div>
			<div class="picture" data-id="06" ></div>
			<div class="picture" data-id="07" ></div>
		</div>
		<div class="selected-description">
			<h2>RAPAZ BOM</h2>
			<p>Ô minino bom, é bom viu, esse aí. É aquele minino que tu olha e diz: "Esse é bom".</p>
		</div>
	</div>
</section>

<!-- 
# 

<div class="picture-container">
			<div class="picture-seleced-overlay" ></div>
			<div class="picture-wrapper">
				<div class="picture-row">
					<div class="picture top" data-id="01" ></div>
					<div class="picture right" data-id="04" style="display: none"></div>
				</div>
				<div class="picture-row">
					<div class="picture bottom" data-id="03" ></div>
					<div class="picture left" data-id="06" ></div>
				</div>
			</div>
			<div class="picture-wrapper">
				<div class="picture-row">
					<div class="picture top" data-id="02" ></div>
					<div class="picture right" data-id="05" ></div>
				</div>
				<div class="picture-row">
					<div class="picture bottom" data-id="04" ></div>
					<div class="picture left" data-id="07" ></div>
				</div>
			</div>
		</div>

 -->