<section class="clients uniform">
	<header>
		<h1 class="simple">
			<span>NOSSOS CLIENTES</span>
			<br>
			<hr>
		</h1>
	</header>
	<div class="clients-list-container">
		<div class="arrow-scroll-left">
			<span>❮</span>
		</div>
		<div class="arrow-scroll-right">
			<span>❯</span>
		</div>
		<div class="clients-list">
			<$ data.clients.forEach(function(client, i){ $>
				<a href="<$- client.href $>" class="client">
					<img src="/public/Images/clients-logos/<$- client.imageSrc $>" alt="<$- client.name $>">
				</a>
			<$ }); $>
		</div>
	</div>
</section>