<section class="section-numbers uniform">
  <header class="section-title bottom">
    <div>
      <h2>LOREM IPSUM</h2>
      <span>Consectetur adipisicing elit. Nisi tenetur error</span>
    </div>
  </header>
  <article class="content-numbers">
    <div class="wrapper responsive-width">
      <div class="number-count biographies">
        <div class="number-wrapper" style="background-image: url('/public/images/icons/picture-icon-turqueza.png')">
          <span class="number" >0</span><br>
          <span class="description" >Ruas <br> biografadas</span>
        </div>
      </div>
      <hr>
      <div class="number-count establishments">
        <div class="number-wrapper" style="background-image: url('/public/images/icons/net-icon.png')">
          <span class="number" >0</span><br>
          <span class="description" >Estabelecimentos <br> integrados</span>
        </div>
      </div>
      <hr>
      <div class="number-count followers">
        <div class="number-wrapper" style="background-image: url('/public/images/icons/followers-icon.png')">
          <span class="number" >0</span><br>
          <span class="description" >Seguidores <br> no Instagram</span>
        </div>
      </div>
      <hr>
      <div class="number-count history">
        <div class="number-wrapper" style="background-image: url('/public/images/icons/clock-icon.png')">
          <span class="number" >0</span><br>
          <span class="description" >Anos <br> de história</span>
        </div>
      </div>
    </div>
  </article>
</section>
