<section class="section-maps uniform" id="mapa-de-estabelecimentos">
	<header class="section-title top">
		<div>
			<span>Veja os estabelecimentos da</span>
			<h2>
				NOSSA REDE INTEGRADA
			</h2>
		</div>
	</header>
	<article class="show-map viewport-units" data-properties="height: 100vh" >
		<div class="search-form">
			<form class="establishments-search-form" action="javascript: filterEstablishments()">
				<div class="search-wrapper">
					<input autocomplete="off" placeholder="Pesquise por algum de nossos integrados" type="text" class="main-name-search" name="">
					<button type="submit" name="search-submit"></button>
					<div class="search-autocomplete general-modal">
						<ul>
							<li class="clearfix">
								<span class="location-name" >Restaurante Costela</span>
								<span class="location-address" >Av. Godofredo Maciel, 2705 - Maraponga</span>
							</li>
							<li class="clearfix">
								<span class="location-name" >Restaurante Costela</span>
								<span class="location-address" >Av. Godofredo Maciel, 2705 - Maraponga</span>
							</li>
							<li class="clearfix">
								<span class="location-name" >Restaurante Costela</span>
								<span class="location-address" >Av. Godofredo Maciel, 2705 - Maraponga</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="filters-wrapper">
					<div class="filters-modal general-modal">
						<span>Bairro:</span>
						<div class="input-container district">
							<input type="text" autocomplete="off" list="district-list" class="input-filter" name="district" placeholder="Ex.: Maraponga">
						</div>
						<span>Rua:</span>
						<div class="input-container street">
							<input type="text" autocomplete="off" list="street-list" class="input-filter" name="street" placeholder="Ex.: Av. Godofredo Maciel">
						</div>
						<span>Ramo:</span>
						<div class="input-container trading">
							<input type="text" autocomplete="off" list="trading-list" class="input-filter" name="trading" placeholder="Ex.: Sorveteria">
						</div>
						<input type="submit" value="Salvar">
					</div>
					<button type="button" class="filters-modal-toggle" name="submit">Filtros</button>
				</div>
				<datalist id="district-list"></datalist>
				<datalist id="street-list"></datalist>
				<datalist id="trading-list"></datalist>
			</form>
		</div>
		<a href="/print-establishments?for=initMap" target="_blank" class="print-establishments" >
			<i class="fa fa-print fa-2x" ></i>
		</a>
		<div class="map-container">
			<div id="main-map"></div>
		</div>
	</article>

</section>
