<section class="section-demo uniform viewport-units" data-animation-offset="300" data-animation-delay="40" data-properties="height: 100vh">
	<div class="wrapper responsive-width">
		<article>
			<div class="content clearfix">
				<h2 class="animation-point fade-translate-x">Vivamus eleifend odio cursus turpis vehicula</h2>
				<p class="animation-point fade-translate-x" >Vivamus eleifend odio cursus turpis vehicula, eu vehicula quam ultrices. Ut tellus ex, volutpat non maximus ut, sodales at nisl. Mauris eget tellus ut orci condimentum placerat quis suscipit eros.</p>
				<ul>
					<li class="animation-point fade-translate-x" >Ut tellus ex, volutpat non maximus ut, sodales at nisl.</li>
					<li class="animation-point fade-translate-x" >Ut tellus ex, volutpat non maximus ut, sodales at nisl.</li>
					<li class="animation-point fade-translate-x" >Ut tellus ex, volutpat non maximus ut, sodales at nisl.</li>
				</ul>
				<a class="animation-point fade-translate-x" href="/exposicao#rede-de-apoiadores">Saiba mais</a>
			</div>
			<img class="animation-point fade-translate-y" src="/public/images/layout_placa.jpg" alt="Layout - Placa | Ruas Biográficas">
		</article>
	</div>
</section>
