<section class="portfolio uniform">
	<div class="area-service" style="z-index: 10">
		<div class="overlay-background"></div>
		<span>ASSESSORIA DE<br style="font-size: 0">COMUNICAÇÃO</span>
		<div class="plus-icon">+</div>
	</div>
	<div class="area-service" style="z-index: 9">
		<div class="overlay-background"></div>
		<span>PROJETOS VISUAIS</span>
		<div class="plus-icon">+</div>
	</div>
	<div class="area-service" style="z-index: 8">
		<div class="overlay-background"></div>
		<span>PUBLICAÇÕES</span>
		<div class="plus-icon">+</div>
	</div>
	<div class="area-service" style="z-index: 7">
		<div class="overlay-background"></div>
		<span>OUTROS SERVIÇOS</span>
		<div class="plus-icon">+</div>
	</div>
</section>