<section class="clients uniform">
	<header>
		<h1 class="simple">
			<span>NOSSOS CLIENTES</span>
			<br>
			<hr style="background: #000000">
		</h1>
	</header>
	<div class="clients-list-container">
		<$ for(var i = 0; i < data.clients.length; i += data.clients.length/5){ $>
			<div class="clients-list-row">
				<$ for(var k = i; k < +i+data.clients.length/5; k++){ $>
					<a href="<$- data.clients[k].href $>" class="client" >
						<img src="/public/Images/clients-logos/<$- data.clients[k].imageSrc $>" alt="<$- data.clients[k].name $>">
					</a>
				<$ }; $>
			</div>
		<$ }; $>
	</div>
</section>
