<section class="clients uniform">
	<header>
		<h1 class="simple">
			<span>NOSSOS CLIENTES</span>
			<br>
			<hr style="background: #000000">
		</h1>
	</header>
	<div class="clients-list-container">
		<$ data.clients.forEach(function(client, i){ $>
			<!-- <div class="clients-list-row"> -->
					<a href="<$- client.href $>" class="client" >
						<img src="/public/Images/clients-logos/<$- client.imageSrc $>" alt="<$- client.name $>">
					</a>
			<!-- </div> -->
		<$ }); $>
	</div>
</section>
