<section class="section-demo uniform viewport-units" data-properties="min-height: 100vh">
	<div class="wrapper responsive-width">
		<article>
			<div class="content">
				<h2>Vivamus eleifend odio cursus turpis vehicula</h2>
				<p>Vivamus eleifend odio cursus turpis vehicula, eu vehicula quam ultrices. Ut tellus ex, volutpat non maximus ut, sodales at nisl. Mauris eget tellus ut orci condimentum placerat quis suscipit eros.</p>
				<ul>
					<li>Ut tellus ex, volutpat non maximus ut, sodales at nisl.</li>
					<li>Ut tellus ex, volutpat non maximus ut, sodales at nisl.</li>
					<li>Ut tellus ex, volutpat non maximus ut, sodales at nisl.</li>
				</ul>
				<a href="/exposicao#rede-de-apoiadores">Saiba mais</a>
			</div>
			<img src="/public/images/layout_placa.jpg" alt="Layout - Placa | Ruas Biográficas">
		</article>
	</div>
</section>
