<section class="depositions uniform viewport-units" data-properties="height: 90vh" onselectstart="return false;">
	<header class="section-title bottom">
		<div>
			<h2>DEPOIMENTOS</h2>
			<span>Lorem ipsum Mollit</span>
		</div>
	</header>
	<div class="responsive-width" style="
		position:relative;
		height:calc(100% - 200px);
		margin: auto;">
		<div class="blur-background"></div>
		<div class="arrow-scroll-left">
			<span>❮</span>
		</div>
		<div class="arrow-scroll-right">
			<span>❯</span>
		</div>
		<article class="depositions-container" >
			<div class="depositions-wrapper align-center-both-table ">
				<div class="content-align">
					<div class="content-wrapper">
						<blockquote class="deposition">
							<h2>Lorem ipsum Nisi 1</h2>
							<p>Lorem ipsum Sint elit laborum nisi magna laborum. Lorem ipsum Consectetur commodo irure ut occaecat cupidatat qui. Lorem ipsum Aliqua enim sit sint deserunt velit est eu. Lorem ipsum Sed Ut eu magna sit Excepteur enim minim consequat Duis pariatur quis. </p>
							<small>Phullanus di Thall</small>
							<hr>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="depositions-wrapper align-center-both-table ">
				<div class="content-align">
					<div class="content-wrapper">
						<blockquote class="deposition">
							<h2>Lorem ipsum Nisi 2</h2>
							<p>Lorem ipsum Sint elit laborum nisi magna laborum. Lorem ipsum Consectetur commodo irure ut occaecat cupidatat qui. Lorem ipsum Aliqua enim sit sint deserunt velit est eu. Lorem ipsum Sed Ut eu magna sit Excepteur enim minim consequat Duis pariatur quis. </p>
							<small>Phullanus di Thall</small>
							<hr>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="depositions-wrapper align-center-both-table ">
				<div class="content-align">
					<div class="content-wrapper">
						<blockquote class="deposition">
							<h2>Lorem ipsum Nisi 3</h2>
							<p>Lorem ipsum Sint elit laborum nisi magna laborum. Lorem ipsum Consectetur commodo irure ut occaecat cupidatat qui. Lorem ipsum Aliqua enim sit sint deserunt velit est eu. Lorem ipsum Sed Ut eu magna sit Excepteur enim minim consequat Duis pariatur quis. </p>
							<small>Phullanus di Thall</small>
							<hr>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="depositions-wrapper align-center-both-table ">
				<div class="content-align">
					<div class="content-wrapper">
						<blockquote class="deposition">
							<h2>Lorem ipsum Nisi 4</h2>
							<p>Lorem ipsum Sint elit laborum nisi magna laborum. Lorem ipsum Consectetur commodo irure ut occaecat cupidatat qui. Lorem ipsum Aliqua enim sit sint deserunt velit est eu. Lorem ipsum Sed Ut eu magna sit Excepteur enim minim consequat Duis pariatur quis. </p>
							<small>Phullanus di Thall</small>
							<hr>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="depositions-wrapper align-center-both-table ">
				<div class="content-align">
					<div class="content-wrapper">
						<blockquote class="deposition">
							<h2>Lorem ipsum Nisi 5</h2>
							<p>Lorem ipsum Sint elit laborum nisi magna laborum. Lorem ipsum Consectetur commodo irure ut occaecat cupidatat qui. Lorem ipsum Aliqua enim sit sint deserunt velit est eu. Lorem ipsum Sed Ut eu magna sit Excepteur enim minim consequat Duis pariatur quis. </p>
							<small>Phullanus di Thall</small>
							<hr>
						</blockquote>
					</div>
				</div>
			</div>
			<div class="depositions-wrapper align-center-both-table ">
				<div class="content-align">
					<div class="content-wrapper">
						<blockquote class="deposition">
							<h2>Lorem ipsum Nisi 6</h2>
							<p>Lorem ipsum Sint elit laborum nisi magna laborum. Lorem ipsum Consectetur commodo irure ut occaecat cupidatat qui. Lorem ipsum Aliqua enim sit sint deserunt velit est eu. Lorem ipsum Sed Ut eu magna sit Excepteur enim minim consequat Duis pariatur quis. </p>
							<small>Phullanus di Thall</small>
							<hr>
						</blockquote>
					</div>
				</div>
			</div>
		</article>
		<div class="depositions-index-marker">
		</div>
	</div>
</section>
