<section class="introduce uniform">
	<!-- <div class="top-gradient"></div> -->
	<div class="introduce-background parallax-background" id="introduce-background2" ></div>
	<div class="introduce-background parallax-background" id="introduce-background1" ></div>
	<div class="introduce-background-overlay"></div>
	<div class="arrow-bottom">
		<span>❯</span>
	</div>
	<div class="services">
		<input type="radio" checked name="service-in-slide" id="service1">
		<label class="service" for="service1">
			<h1>ASSESSORIA DE COMUNICAÇÃO</h1>
			<p>Lorem ipsum Excepteur magna nulla ut cillum culpa aliquip</p>
		</label>
		<input type="radio" name="service-in-slide" id="service2">
		<label class="service" for="service2">
			<h1>PROJETOS VISUAIS</h1>
			<p>Lorem ipsum Excepteur magna nulla ut cillum culpa aliquip</p>
		</label>
		<input type="radio" name="service-in-slide" id="service3">
		<label class="service" for="service3">
			<h1>PUBLICAÇÕES</h1>
			<p>Lorem ipsum Excepteur magna nulla ut cillum culpa aliquip</p>
		</label>
		<input type="radio" name="service-in-slide" id="service4">
		<label class="service" for="service4">
			<h1>OUTROS SERVIÇOS</h1>
			<p>Lorem ipsum Excepteur magna nulla ut cillum culpa aliquip</p>
		</label>
	</div>
</section>
