<section class="who-we-are uniform">
	<div class="left-wrapper">
		<header>
			<h1>
				QUEM<br>SOMOS?
			</h1>
		</header>
		<article class="values" >
			<ul>
				<li>
					<h2>incididunt dolor.</h2>
				</li>
				<li>
					<h2>magna occaecat.</h2>
				</li>
				<li>
					<h2>Henderit voluptate esse.</h2>
				</li>
			</ul>
		</article>
	</div>
	<aside class="main-content">
		<div class="content">
			<h2>Lorem Culpa sit <br>dolor consequat fugiat</h2>
			<hr>
			<p>Lorem ipsum Dolor eu nisi ut aute cupidatat est dolor nisi. Lorem ipsum Excepteur enim qui id reprehenderit voluptate tempor amet reprehenderit pariatur et nostrud. Lorem ipsum Occaecat Excepteur in velit veniam veniam ad magna minim qui nulla.</p>
		</div>
	</aside>
</section>