<header class="introduce uniform">
	<div class="bottom-gradient"></div>
	<div class="introduce-background parallax-background" id="introduce-background" ></div>
	<div class="introduce-background-overlay"></div>
	<div class="arrow-bottom">
		<span>❯</span>
	</div>
	<div class="header-content responsive-width">
		<div class="header-content-wrapper">
			<div class="header-content-align">
				<h1 class="header-title">Lorem ipsum dolor <br>sit amet, consectetur adipisicing</h1>
				<span class="header-subtitle">Lorem ipsum dolor sit</span>
				<div class="meet-buttons">
					<button style="margin-right: 20px;" class="meet-us-button meet-button">CONHEÇA-NOS</button>
					<a href="https://www.instagram.com/ruasbiograficas/" target="_blank" class="meet-your-instagram meet-button">
						NOSSO <span class="icon instagram small" ></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
