body{
  background: #f1f2f3;
}


.introduce{
  height: 60vh;
  background-image: url('/public/images/catedral-pb.jpg');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.introduce h1{
  font-size: 2em;
}

.introduce h1 span{
  display: inline-block;
  color: white;
  text-transform: uppercase;
  width: 250px;
  vertical-align: middle;
}
.introduce h1 hr{
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  width: 1px;
  margin: 0 5px;
  background: rgba(58, 180, 180, 1);
}

.introduce h1 span:nth-of-type(1){
  text-align: right;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.introduce h1 span:nth-of-type(2){
  text-align: left;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  color: rgba(58, 180, 180, 1);
}



.welcome{
  height: 40vh;
  background: rgba(58, 180, 180, 1);
  position: relative;
}
.welcome:after{
  content: '';
  width: 150px;
  height: 100px;
  position: absolute;
  left: auto;
  bottom: 100%;
  right: 0;
  background-image: url("/public/images/ornament-green.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  background-position: right bottom;
}

.page-wrapper{
}

.audiographs-search-container{
  width: 100%;
  height: 60px;
  margin-top: 50px;
  margin-bottom: 25px;
  position: relative;
}
.audiographs-search-container button{
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 1.5em;
  background: transparent;
  color: rgba(58, 180, 180, 1);
  height: 100%;
  width: 60px;
  cursor: pointer;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}
.audiographs-search-container button:hover{
  opacity: 1;
}
.audiographs-search-container form{
  height: 100%;
}
.audiographs-search-container input{
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 0 15px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.2em;
  box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.1);
}
.audiographs-search-container input{
  width: 100%;
  height: 100%;
  background: #ffffff;
  padding: 0 15px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 1.2em;
  box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.1);
  box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.1);
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 4px;
}

.audiographs-search-container input:focus{
  box-shadow: 0px 2px 3px 0 rgba(0,0,0,0.2);
}


.audiographs-list-container{
  font-size: 0;
  text-align: justify;
  min-height: 400px;
  max-height: 600px;
}
.audiographs-list-container:after {
  content: '';
  width: 100%;
  display: inline-block;
}

.audiographs-list-container .ag-not-found{
  font-size: 16pt;
  height: 150px;
  line-height: 150px;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  opacity: 0.6;
}
.audiographs-list-container .ag-not-found i{
  color: rgba(58, 180, 180, 1);
}
.audiograph-container{
  font-size: 12pt;
  width: 48%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-left: 165px;
  height: 150px;
  margin-top: 25px;
  background: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(0,0,0,0.1);
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
  border-radius: 4px;
  overflow: hidden;
}
.audiograph-container:hover{
  box-shadow: 0px 2px 3px 0 rgba(0,0,0,0.2);
}
.audiograph-container .audiograph-picture{
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
}
.audiograph-container .audiograph-picture img{
  width: 100%;
}
.audiograph-container .audiograph-content{
  display: inline-block;
  width: 100%;
}
.audiograph-container .audiograph-content .audiograph-title{
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  line-height: 50px;
  height: 50px;
}
.audiograph-container .audiograph-content .audiograph-title span{
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  white-space: nowrap;
}
.audiograph-container .audiograph-content .audiograph-title span a{
  display: inline-block;
  text-overflow: ellipsis;
}
.audiograph-container .audiograph-content .audiograph-counts span span{
  color: #9f9f9f;
}
.audiograph-container .audiograph-content .audiograph-counts span i{
  color: rgba(58, 180, 180, 1);
  font-size: 0.8em;
}
.audiograph-container .audiograph-content .audiograph-counts{
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 1.3em;
  line-height: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 700px){

  .audiograph-container{
    padding-right: 0;
    width: 100%;
    display: inline-block;
  }

}

.audio-enclosure{
  width: 100%;
  min-width: 300px;
  height: 50px;
  padding-left: 0;
  position: relative;
}
.audio-enclosure .audio-icon i{
  line-height: 50px;
  text-align: center;
  width: 100%;
}
.audio-enclosure .audio-icon{
  width: 60px;
  height: 100%;
  background: #ffffff;
  border-radius: 30px;
  border: 1px solid #7b8194;
  background: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  color: #7b8194;
}
.audio-enclosure .controls-container{
  width: 100%;
  height: 100%;
  display: inline-block;
  display: table;
  padding: 0 115px 0 40px;
  position: relative;
}
.audio-enclosure .controls-container .left-controls{
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 2px;
  padding: 0 5px;
  font-size: 1em;
  color: #999999;
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.audio-enclosure .controls-container .left-controls:hover{
  opacity: 1;
}
.audio-enclosure .controls-container .time-line-container{
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
}
.audio-enclosure .controls-container .time-line-container:hover{
  cursor: -webkit-grab;
  cursor: grab;
}
.audio-enclosure .controls-container .time-line-container:active{
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.audio-enclosure .controls-container .time-line-container .range-line{
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  border-radius: 3px;
  background: rgba(0,0,0,0.1);
  overflow: hidden;
}

.audio-enclosure .controls-container .time-line-container .range-line .progress{
  width: 0%;
  height: 100%;
  background: rgba(58, 180, 180, 1);
}
.audio-enclosure .controls-container .time{
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #666666;
  font-family: 'Raleway', sans-serif, monospace;
}
