*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	outline: none;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

a{
	text-decoration: none;
	color: inherit;
	height: inherit;
	display: block;
}

body{
	overflow-x: hidden;
}
body.no-overflow{
	overflow: hidden;
}

.topbar{
	height: 100px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	line-height: 70px;
	-webkit-transition: background 0.3s ease-out;
	transition: background 0.3s ease-out;
	font-family: 'Noto Sans', sans-serif;
}
.topbar.static{
	height: 105px;
	line-height: 70px;
	position: absolute;
}
.topbar.fixed{
	height: 80px;
	line-height: 50px;
	background: #ffffff;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
	position: fixed;
}
.topbar:after{
	content: '';
	position: absolute;
	width: calc(100% - 20px);
	bottom: -1px;
}

.topbar .topbar-content{
	height: 70px;
	max-width: 1500px;
	margin: 15px auto;
	padding: 0 15px;
}
.topbar.static .topbar-content{
	height: 70px;
}
.topbar.static .soft-line{
	height: 5px;
	width: 100%;
}
.topbar.fixed .topbar-content{
	height: 50px;
}
.topbar .topbar-content .logo{
	display: inline-block;
	height: inherit;
	position: relative;
}
.topbar .topbar-content .logo a{
	height: inherit;
	position: relative;
}
.topbar .topbar-content .logo img{
	height: inherit;
	-webkit-transition: height 0.2s ease-out, opacity 0.2s ease-out;
	transition: height 0.2s ease-out, opacity 0.2s ease-out;
	position: absolute;
}
.topbar.fixed .topbar-content .logo img:nth-child(1){
	opacity: 0;
}
.topbar.fixed .topbar-content .logo img:nth-child(2){
	opacity: 1;
}
.topbar.static .topbar-content .logo img:nth-child(1){
	opacity: 1;
}
.topbar.static .topbar-content .logo img:nth-child(2){
	opacity: 0;
}
.topbar .topbar-side-menu{
	float: right;
	height: inherit;
}
.topbar .topbar-side-menu div{
	height: inherit;
}
.topbar .topbar-side-menu .topbar-menu-options{
	display: inline-block;
	vertical-align: top;
}
.topbar .topbar-side-menu .topbar-menu-options ul{
	height: inherit;
	vertical-align: middle;
}
.topbar .topbar-side-menu .topbar-menu-options ul li{
	list-style: none;
	display: inline-block;
	padding: 0 10px;
	height: inherit;
	text-transform: uppercase;
	color: #ffffff;
	-webkit-transition: line-height 0.2s ease-out;
	transition: line-height 0.2s ease-out;
	font-size: 0.9em;
}
.topbar .topbar-side-menu .topbar-menu-options ul li a{
	position: relative;
	font-family: 'Noto Sans', sans-serif;
}
.topbar .topbar-side-menu .topbar-menu-options ul li a:after{
	content: '';
	position: absolute;
	display: block;
	border-radius: 50%;
	background: #ffffff;
	bottom: calc(50% - 20px);
	height: 4px;
	width: 4px;
	left: 50%;
	margin-left: -2px;
	-webkit-transform: translateY(5px);
	        transform: translateY(5px);
	opacity: 0;
	-webkit-transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
	transition: opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
	transition: transform 0.2s ease-out, opacity 0.2s ease-out;
	transition: transform 0.2s ease-out, opacity 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

.topbar.fixed .topbar-side-menu .topbar-menu-options ul li{
	color: #987bb8;
}
.topbar.fixed .topbar-side-menu .topbar-menu-options ul li:nth-child(1){
	opacity: 1;
}
.topbar.fixed .topbar-side-menu .topbar-menu-options ul li:nth-child(2){
	opacity: 1;
}
.topbar.static .topbar-side-menu .topbar-menu-options ul li:nth-child(1){
	opacity: 1;
}
.topbar.fixed .topbar-side-menu .topbar-menu-options ul li a:after{
	background: #987bb8;
}

.topbar .topbar-side-menu .topbar-menu-options ul li a:hover:after{
	-webkit-transform: translateY(0);
	        transform: translateY(0);
	opacity: 1;
}


.topbar .topbar-side-menu .networking{
	display: inline-block;
	margin: auto;
	vertical-align: middle;
}
.topbar .topbar-side-menu .networking ul li{
	list-style: none;
	display: inline-block;
	line-height: inherit;
	vertical-align: middle;
  width: 50px;
  height: 50px;
  background-image: url('/public/Images/animations/circle.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: auto 100%;
  background-position: 0% 0;
	animation: animation-circle-out 0.2s steps(1);
  -webkit-animation-fill-mode: end;
  -moz-animation-fill-mode: end;
  -o-animation-fill-mode: end;
  animation-fill-mode: end;
}

.topbar .topbar-side-menu .networking ul li:hover{
  animation: animation-circle-in 0.3s steps(1);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes animation-circle-in{
  0%{  background-position: 0% 0;  }
  10%{  background-position: -50px center;  }
  20%{  background-position: -100px center;  }
  30%{  background-position: -150px center;  }
  40%{  background-position: -200px center;  }
  50%{  background-position: -250px center;  }
  60%{  background-position: -300px center;  }
  70%{  background-position: -350px center;  }
  80%{  background-position: -400px center;  }
  90%{  background-position: -450px center;  }
  100%{  background-position: -450px center;  }
}
@keyframes animation-circle-out{
	0%{  background-position: -450px center;  }
	10%{  background-position: -450px center;  }
	20%{  background-position: -400px center;  }
	30%{  background-position: -350px center;  }
	40%{  background-position: -300px center;  }
	50%{  background-position: -250px center;  }
	60%{  background-position: -200px center;  }
	70%{  background-position: -150px center;  }
	80%{  background-position: -100px center;  }
  90%{  background-position: -50px center;  }
	100%{  background-position: 0% center;  }
}

.topbar .topbar-side-menu .networking ul li a{
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: center;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	vertical-align: middle;
	margin: auto;
	line-height: inherit;
}
.topbar .topbar-side-menu .networking ul li a:hover{
	opacity: 1;
}

.topbar .topbar-side-menu .search-icon{
	height: inherit;
	width: 50px;
	display: inline-block;
	vertical-align: middle;
  background-image: url('/public/Images/animations/circle.png');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: auto 50px;
  background-position: 0% center;
	animation: animation-circle-out 0.2s steps(1);
  -webkit-animation-fill-mode: end;
  -moz-animation-fill-mode: end;
  -o-animation-fill-mode: end;
  animation-fill-mode: end;
	cursor: pointer;
}
.topbar .topbar-side-menu .search-icon:hover{
	animation: animation-circle-in 0.2s steps(1);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.topbar .topbar-side-menu .search-icon span{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url('/public/Images/icons/search.png');
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: center;
}

.search-container{
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}
.search-container.actived{
	display: block;
}
.search-container .search-background-overlay{
	position: absolute;
	z-index: 1000;
	top: -30px;
	left: -30px;
	width: 200vmax;
	height: 200vmax;
	border-radius: 50%;
	background: rgba(0,0,0,0.5);
	-webkit-transition: -webkit-transform 0.5s ease-out;
	transition: -webkit-transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
	-webkit-transform: scale(0.01, 0.01);
	        transform: scale(0.01, 0.01);
}
.search-container.actived .search-background-overlay.actived{
	top: -750px;
	right: -750px;
	-webkit-transform: scale(1.3, 1.3);
	        transform: scale(1.3, 1.3);
}
.search-container .search-wrapper{
	width: 100%;
	max-width: 500px;
	height: 120px;
	background: transparent;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1010;
	opacity: 0;
	transition: opacity 0.3s ease-in;
	display: table;
	text-align: center;
	border-bottom: 2px solid #ffffff;
}
.search-container .search-wrapper.actived{
	opacity: 1;
}
.search-container .search-wrapper form{
	width: 100%;
	height: 100%;
}
.search-container .search-wrapper input{
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 0 100px 0 20px;
	background: transparent;
	color: #ffffff;
	font-size: 1.5em;
}
.search-container .search-wrapper button{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 100px;
	background-image: url('/public/Images/icons/search.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30px 30px;
	background-color: transparent;
}
.search-container .search-wrapper .close-icon{
	position: absolute;
	right: -50px;
	top: -50px;
	height: 50px;
	width: 50px;
	/*border: 1px solid #ffffff;*/
	border-radius: 50%;
	line-height: 50px;
	cursor: pointer;
	color: #ffffff;
}



/*
.topbar .topbar-side-menu .topbar-main-menu {
	display: inline-block;
	width: 70px;
	height: 70px;
	cursor: pointer;
	-webkit-transition: padding 0.2s ease-out;
	transition: padding 0.2s ease-out;
}
.topbar.static .topbar-side-menu .topbar-main-menu {
	padding: 15px 10px 0 27px;
}
.topbar.fixed .topbar-side-menu .topbar-main-menu {
	padding: 7px 10px 0 27px;
}
.topbar .topbar-side-menu .topbar-main-menu span{
	display: block;
	height: 5px;
	background: #ffffff;
	width: 5px;
	margin: 5px;
	border-radius: 50%;
	-webkit-transition: -webkit-transform 0.1s ease-out;
	transition: -webkit-transform 0.1s ease-out;
	transition: transform 0.1s ease-out;
	transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
	-webkit-transform: scaleX(1);
	        transform: scaleX(1);
}
.topbar.fixed .topbar-side-menu .topbar-main-menu span{
	background: #999999;
}
.topbar .topbar-side-menu .topbar-main-menu:hover span{
	-webkit-transform: scaleX(1.1);
	        transform: scaleX(1.1);
}
*/

/*
.main-menu{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 0px;
	height: 0px;
	z-index: 1000;
	overflow: hidden;
	opacity: 1;
}
.main-menu.actived{
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	-webkit-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
.main-menu .main-menu-overlay{
	opacity: 0;
	width: 0px;
	height: 0px;
}
.main-menu.actived .main-menu-overlay{
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background: rgb(0,0,0);
	opacity: 0.6;
}
.main-menu.actived .main-menu-container{
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
	height: 100%;
	background: transparent;
	z-index: 100;
	overflow: hidden;
}
.main-menu .main-menu-container .main-menu-background{
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-radius: 100%;
	background: #ffffff;
	z-index: 100;
	transition: height 0.5s ease-out,
							width 0.5s ease-out;
}
.main-menu.actived .main-menu-background{
	width: 1500px;
	height: 1500px;
	transform: translate(50%, -50%);
}

.main-menu .main-menu-container .main-menu-background{
	position: absolute;
	top: -30px;
	right: -30px;
	width: 1500px;
	height: 1500px;
	border-radius: 100%;
	background: #ffffff;
	z-index: 100;
	-webkit-transition: -webkit-transform 0.5s ease-out;
	transition: -webkit-transform 0.5s ease-out;
	transition: transform 0.5s ease-out;
	transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
	-webkit-transform: scale(0.02, 0.02);
	        transform: scale(0.02, 0.02);
}
.main-menu.actived .main-menu-background{
	top: -750px;
	right: -750px;
	-webkit-transform: scale(1.3, 1.3);
	        transform: scale(1.3, 1.3);
}
*/


.main-footer{
	min-height: 80vh;
	height: auto;
	background-image: url('/public/Images/blurred-background.jpg');
	background-size: cover;
	padding-bottom: 20px;
}
.main-footer header{
  height: 150px;
  text-align: center;
  line-height: 150px;
	color: #ffffff;
}
.main-footer .content{
	height: auto;
	width: 100%;
	margin-top: 40px;
}
.main-footer .content .wrapper{
	width: 100%;
	max-width: 1000px;
	margin: auto;
}
.main-footer .content .wrapper .form-row{
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 20px;
}
.main-footer .content .wrapper .form-row:nth-child(1) input{
	width: calc(50% - 10px);
	height: 50px;
	background: rgba(255, 255, 255, 0.3);
	padding: 0 15px;
	color: #ffffff;
	font-size: 1.1em;
}
.main-footer .content .wrapper .form-row:nth-child(2) textarea{
	height: 200px;
	width: 100%;
	background: rgba(255, 255, 255, 0.3);
	padding: 15px;
	color: #ffffff;
	font-size: 1.1em;
}
.main-footer .content .wrapper .form-row input::-webkit-input-placeholder,
.main-footer .content .wrapper .form-row textarea::-webkit-input-placeholder{
	color: rgba(255, 255, 255, .9);
}
.main-footer .content .wrapper .form-row input::-moz-placeholder,
.main-footer .content .wrapper .form-row textarea::-moz-placeholder{
	color: rgba(255, 255, 255, .9);
}
.main-footer .content .wrapper .form-row input:-ms-input-placeholder,
.main-footer .content .wrapper .form-row textarea:-ms-input-placeholder{
	color: rgba(255, 255, 255, .9);
}
.main-footer .content .wrapper .form-row input::placeholder,
.main-footer .content .wrapper .form-row textarea::placeholder{
	color: rgba(255, 255, 255, .9);
}
.main-footer .content .wrapper .form-row:nth-child(3) {
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
}
.main-footer .content .wrapper .form-row:nth-child(3) input{
	height: 50px;
	padding: 0 30px;
	border: 1px solid rgba(255, 255, 255, 0.7);
	background: transparent;
	color: rgba(255, 255, 255, 0.7);
	-webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
	cursor: pointer;
}
.main-footer .content .wrapper .form-row:nth-child(3) input:hover{
	border: 1px solid rgba(255, 255, 255, 0.7);
	background: rgba(255, 255, 255, 0.7);
	color: #872f28;
}
.main-footer footer{
	height: auto;
	width: 100%;
	text-align: center;
}
.main-footer footer nav{
	display: inline-block;
	margin: auto;
	margin-right: 15px;
}
.main-footer footer nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 15px;
}
.main-footer footer nav ul li a{
	display: block;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
	border-radius: 50%;
	border: 1px solid #ffffff;
	opacity: 0.7;
	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
.main-footer footer nav ul li a:hover{
	opacity: 1;
}
