*{
	margin: 0;
	padding: 0;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: sans-serif;
	outline: none;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

a{
	text-decoration: none;
	color: inherit;
	height: inherit;
	display: block;
}


.topbar{
	height: 100px;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	line-height: 70px;
	transition: background 0.3s ease-out;
}
.topbar.static{
	height: 105px;
	line-height: 70px;
	position: absolute;
}
.topbar.fixed{
	height: 80px;
	line-height: 50px;
	background: #ffffff;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
	position: fixed;
}
.topbar:after{
	content: '';
	position: absolute;
	width: calc(100% - 20px);
	bottom: -1px;
}

.topbar .topbar-content{
	height: 70px;
	max-width: 1500px;
	margin: 15px auto;
	padding: 0 15px;
}
.topbar.static .topbar-content{
	height: 70px;
}
.topbar.static .soft-line{
	height: 5px;
	width: 100%;
}
.topbar.fixed .topbar-content{
	height: 50px;
}
.topbar .topbar-content .logo{
	display: inline-block;
	height: inherit;
	position: relative;
}
.topbar .topbar-content .logo a{
	height: inherit;
	position: relative;
}
.topbar .topbar-content .logo img{
	height: inherit;
	transition: height 0.2s ease-out, opacity 0.2s ease-out;
	position: absolute;
}
.topbar.fixed .topbar-content .logo img:nth-child(1){
	opacity: 0;
}
.topbar.fixed .topbar-content .logo img:nth-child(2){
	opacity: 1;
}
.topbar.static .topbar-content .logo img:nth-child(1){
	opacity: 1;
}
.topbar.static .topbar-content .logo img:nth-child(2){
	opacity: 0;
}
.topbar .topbar-side-menu{
	float: right;
	height: inherit;
}
.topbar .topbar-side-menu div{
	height: inherit;
}
.topbar .topbar-side-menu .topbar-menu-options{
	display: inline-block;
	vertical-align: top;
}
.topbar .topbar-side-menu .topbar-menu-options ul{
	height: inherit;
}
.topbar .topbar-side-menu .topbar-menu-options ul li{
	list-style: none;
	display: inline-block;
	padding: 0 10px;
	height: inherit;
	text-transform: uppercase;
	color: #ffffff;
	transition: line-height 0.2s ease-out;
}
.topbar .topbar-side-menu .topbar-menu-options ul li a{
	position: relative;
}
.topbar .topbar-side-menu .topbar-menu-options ul li a:after{
	content: '';
	position: absolute;
	display: block;
	border-radius: 50%;
	background: #ffffff;
	bottom: calc(50% - 20px);
	height: 5px;
	width: 5px;
	left: 50%;
	margin-left: -2px;
	transform: translateY(5px);
	opacity: 0;
	transition: transform 0.2s ease-out, opacity 0.2s ease-out;
}

.topbar.fixed .topbar-side-menu .topbar-menu-options ul li{
	color: #987bb8;
}
.topbar.fixed .topbar-side-menu .topbar-menu-options ul li:nth-child(1){
	opacity: 1;
}
.topbar.fixed .topbar-side-menu .topbar-menu-options ul li:nth-child(2){
	opacity: 1;
}
.topbar.static .topbar-side-menu .topbar-menu-options ul li:nth-child(1){
	opacity: 1;
}
.topbar.fixed .topbar-side-menu .topbar-menu-options ul li a:after{
	background: #987bb8;
}

.topbar .topbar-side-menu .topbar-menu-options ul li a:hover:after{
	transform: translateY(0);
	opacity: 1;
}
.topbar .topbar-side-menu .topbar-main-menu {
	display: inline-block;
	width: 70px;
	height: 70px;
	cursor: pointer;
	transition: padding 0.2s ease-out;
}
.topbar.static .topbar-side-menu .topbar-main-menu {
	padding: 20px 10px 0 20px;
}
.topbar.fixed .topbar-side-menu .topbar-main-menu {
	padding: 11px 10px 0 20px;

}
.topbar .topbar-side-menu .topbar-main-menu span{
	display: block;
	height: 2px;
	background: #ffffff;
	width: 100%;
	margin: 5px;
	transition: transform 0.1s ease-out;
	transform: scaleX(1);
}
.topbar.fixed .topbar-side-menu .topbar-main-menu span{
	background: #999999;
}
.topbar .topbar-side-menu .topbar-main-menu:hover span{
	transform: scaleX(1.1);
}


.main-footer{
	min-height: 80vh;
	height: auto;
	background-image: url('/public/Images/blurred-background.jpg');
	background-size: cover;
	padding-bottom: 20px;
}
.main-footer header{
  height: 150px;
  text-align: center;
  line-height: 150px;
	color: #ffffff;
}
.main-footer .content{
	height: auto;
	width: 100%;
	margin-top: 40px;
}
.main-footer .content .wrapper{
	width: 100%;
	max-width: 1000px;
	margin: auto;
}
.main-footer .content .wrapper .form-row{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.main-footer .content .wrapper .form-row:nth-child(1) input{
	width: calc(50% - 10px);
	height: 50px;
	background: rgba(255, 255, 255, 0.3);
	padding: 0 15px;
	color: #ffffff;
	font-size: 1.1em;
}
.main-footer .content .wrapper .form-row:nth-child(2) textarea{
	height: 200px;
	width: 100%;
	background: rgba(255, 255, 255, 0.3);
	padding: 15px;
	color: #ffffff;
	font-size: 1.1em;
}
.main-footer .content .wrapper .form-row input::placeholder,
.main-footer .content .wrapper .form-row textarea::placeholder{
	color: rgba(255, 255, 255, .9);
}
.main-footer .content .wrapper .form-row:nth-child(3) {
	justify-content: flex-end;
}
.main-footer .content .wrapper .form-row:nth-child(3) input{
	height: 50px;
	padding: 0 30px;
	border: 1px solid rgba(255, 255, 255, 0.7);
	background: transparent;
	color: rgba(255, 255, 255, 0.7);
	transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
	cursor: pointer;
}
.main-footer .content .wrapper .form-row:nth-child(3) input:hover{
	border: 1px solid rgba(255, 255, 255, 0.7);
	background: rgba(255, 255, 255, 0.7);
	color: #872f28;
}
.main-footer footer{
	height: auto;
	width: 100%;
	text-align: center;
}
.main-footer footer nav{
	display: inline-block;
	margin: auto;
	margin-right: 15px;
}
.main-footer footer nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 15px;
}
.main-footer footer nav ul li a{
	display: block;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	background-position: center;
	border-radius: 50%;
	border: 1px solid #ffffff;
	opacity: 0.7;
	transition: opacity 0.2s ease-in-out;
}
.main-footer footer nav ul li a:hover{
	opacity: 1;
}
