
.uniform{
	height: 100vh;
	width: 100%;
	position: relative;
}
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url('/public/Images/component-photos/samila.jpg')
    		 url('/public/Images/component-photos/monique.jpg')
    		 url('/public/Images/component-photos/edi.jpg')
    		 url('/public/Images/component-photos/manu.jpg')
    		 url('/public/Images/component-photos/felipe.jpg')
    		 url('/public/Images/component-photos/roberta.jpg')
    		 url('/public/Images/component-photos/samir.jpg');
}


.introduce{
	background: #333;
	height: calc(100vh - 35px);
}
.introduce .top-gradient{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 200px;
	z-index: 20;
	background: rgba(0,0,0,0.8); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0.8)', endColorstr='rgba(0,0,0,0)',GradientType=0 ); /* IE6-9 */
}

.introduce .introduce-background-overlay{
	width: 100%;
	height: 100%;
	background: #34495e;
	background: -webkit-linear-gradient(to left, #2c3e50 , #11181f);
	background: linear-gradient(to left, #2c3e50 , #11181f);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.3;
	mix-blend-mode: multiply;
	z-index: 20;
}

.introduce .introduce-background{
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	background-attachment: fixed;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 1;
	-webkit-transition: background-size 1s ease-in, opacity 2s linear;
	-moz-transition: background-size 1s ease-in, opacity 2s linear;
	-o-transition: background-size 1s ease-in, opacity 2s linear;
	transition: background-size 1s ease-in, opacity 2s linear;
}
.introduce .services{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 400px;
	z-index: 100;
}
.introduce .services .service{
	display: block;
	margin: 5px 0;
	color: #ffffff;
	cursor: pointer;
	padding-left: 20px;
}
.introduce .services .service h1{
	font-size: 0.6em;
	opacity: 0.8;
}
.introduce .services .service:nth-child(2) h1{
	color: #f3765e;
}
.introduce .services .service:nth-child(4) h1{
	color: #00afcc;
}
.introduce .services .service:nth-child(6) h1{
	color: #987bb8;
}
.introduce .services .service:nth-child(8) h1{
	color: #999999;
}
.introduce .services .service p{
	overflow-y: hidden;
	opacity: 0;
	height: 0;
	margin-top: 10px;
	transition: transform 0.3s ease-out, opacity 0.3s ease-out, height 0.3s ease-out;
	font-size: 1.4em;
}
.introduce .services input[type="radio"]{
	visibility: hidden;
	width: 0;
	height: 0;
	display: none;
}
.introduce .services input[type="radio"]:checked + label h1{
	font-size: 1em;
	opacity: 1;
}
.introduce .services input[type="radio"]:checked + label p{
	height: 70px;
	opacity: 1
}
.introduce .services input[type="radio"]:checked + label{
	margin-bottom: 20px; 
	background: rgba(0,0,0,0.5);
	padding-top: 10px;
}


.portfolio{
	background: #ffffff;
	font-size: 0;
	overflow: hidden;
	white-space: nowrap;
	height: 80vh;	
}
/* 
.portfolio:hover .area-service{
width: 15%;
} */

.portfolio .area-service{
	display: inline-block;
	height: 100%;
	width: 25%;
	position: relative;
	font-size: 12pt;
	cursor: pointer;
	transition: width 0.2s ease-out;
	/* transition-delay: 0.1s; */
	background-size: cover;
	background-position: center;
}
/* 
.portfolio .area-service:hover{
width: 55%;	
transition: width 0.2s ease-out;
} */

.portfolio .area-service .overlay-background{
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.8;
}
.portfolio .area-service span{
	display: block;
	position: absolute;
	font-size: 2.8em;
	color: #ffffff;
	left: 70px;
	top: 10px;
	z-index: 0;
	transition-delay: 0.2s;
	transform-origin: left;
	width: 200px;
	filter: blur(0px);
	transform: rotate(90deg) translateX(-50px);
	transition: transform 0.2s ease-out, opacity 0.2s ease-out;
	opacity: 0;
	font-family: 'Century Gothic', sans-serif;
}
.portfolio .area-service.passed span{
	transform: rotate(90deg) translateX(0);
	opacity: 1;
}
.portfolio .area-service:hover span{
	transform: rotate(0deg);
}
.portfolio .area-service .plus-icon{
	display: block;
	position: absolute;
	width: 100px;
	height: 100px;
	background-image: url('/public/Images/animations/circle.png');
	background-repeat: no-repeat;
	background-size: auto 100%;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%) translateY(-10px);
	font-size: 2.3em;
	color: #ffffff;
	text-align: center;
	line-height: 100px;
	opacity: 0;
	transition: transform 0.2s ease-out, opacity 0.5s ease-out;
}
.portfolio .area-service:hover .plus-icon{
	background-position: -900px 0%;
	animation: circle 0.5s;
	animation-timing-function: steps(1);
	transform: translateX(-50%) translateY(0px);
	opacity: 1;
}

@keyframes circle{
	0%{   background-position: 0% 0%;   }
	10%{  background-position: -100px 0%;  }
	20%{  background-position: -200px 0%;  }
	30%{  background-position: -300px 0%;  }
	40%{  background-position: -400px 0%;  }
	50%{  background-position: -500px 0%;  }
	60%{  background-position: -600px 0%;  }
	70%{  background-position: -700px 0%;  }
	80%{  background-position: -800px 0%;  }
	90%{  background-position: -900px 0%;  }
	100%{ background-position: -900px 0%; }
}

/* 
.portfolio .area-service:after{
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 100vh 100px 0 0;
	border-color: #f3765e transparent transparent transparent;
	position: absolute;
	right: -100px;
	top: 0;
	z-index: 10;
}
*/
.portfolio .area-service:nth-child(1){
	background-image: url('https://i0.wp.com/s3-ap-southeast-1.amazonaws.com/magazine.job-like.com/magazine/wp-content/uploads/2016/11/22163235/project-manager-meeting-organization.jpg?resize=678%2C381&ssl=1');
}
.portfolio .area-service:nth-child(2){
	background-image: url('http://www.brunoeduardo.com/wp-content/uploads/2016/09/escrever-artigos-300x199.jpg');
}
.portfolio .area-service:nth-child(3){
	background-image: url('http://www.cf7studio.com/images/headers/design.jpg');
}
.portfolio .area-service:nth-child(4){
	background-image: url('http://www.portalyamaha.com.br/PublishingImages/Outros%20Servi%C3%A7os%20(1).jpg?RenditionID=5');
}

.portfolio .area-service .overlay-background:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	background: inherit;
	transition: opacity 0.3s ease-out;
	opacity: 0;
}

.portfolio .area-service:nth-child(1) .overlay-background{
	background: #f3765e;
}
.portfolio .area-service:nth-child(2) .overlay-background{
	background: #00afcc;
}
.portfolio .area-service:nth-child(3) .overlay-background{
	background: #987bb8;
}
.portfolio .area-service:nth-child(4) .overlay-background{
	background: #999999;
}

.who-we-are{
	overflow: hidden;
	background: url('/public/Images/ball-background.png') #333333 no-repeat;
	background-size: cover;
}
.who-we-are .main-content{
	position: absolute;
	width: 100vmax;
	height: 100vmax;	
	padding-left: 80px;
	background: #ffffff;
	display: flex;
	align-items: center;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
}
.who-we-are .left-wrapper{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 50%;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding-top: 5%;
	padding-right: 80px;
}
.who-we-are .left-wrapper header h1{
	display: block;
	font-size: 6em;
	color: #ffffff;
	text-shadow: 0 2px 20px rgba(0,0,0,0.2);
	text-align: right;
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	transform: translateX(-50px);
	opacity: 0;
}
.who-we-are .left-wrapper header h1.passed{
	transform: translateX(0);
	opacity: 1;
}
.who-we-are .left-wrapper .values{
	width: 100%;
	text-align: right;
	padding-right: 20px;
	margin-top: 5%;
	color: rgba(255,255,255,0.5);
}

.who-we-are .left-wrapper .values ul li{
	width: 100%;
	max-width: 400px;
	float: right;
	list-style: none;
	margin-bottom: 15px;
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	transform: translateX(-50px);
	opacity: 0;
}
.who-we-are .left-wrapper .values ul li.passed{
	transform: translateX(0);
	opacity: 1;
}
.who-we-are .left-wrapper .values ul li h2{
	margin-bottom: 5px;
	color:  #987bb8;
}


.who-we-are .main-content .content{
	position: absolute;
	width: 35%;
	background: #ffffff;
	transition: opacity 0.3s ease-out;
	opacity: 0;
}
.who-we-are .main-content .content.passed{
	opacity: 1;
}

.who-we-are .main-content .content h2{
	font-size: 1.9em;
}
.who-we-are .main-content .content hr{
	height: 1px;
	background: #000;
	width: 0;
	margin: 10px 0 20px 0;
	transition: width 0.3s ease-out;
	transition-delay: 0.3s;
}
.who-we-are .main-content .content hr.passed{
	width: 40%;
}
.who-we-are .main-content .content p{
	font-size: 1.2em;
}


.components{
	background: #78638e;
	overflow: hidden;
}
.components header{
	height: 150px;
	text-align: center;
	line-height: 150px;
}
.components header h1{
	font-size: 2.2em;
	color: #ffffff;
}
.components .close-description{
	display: block;
	position: absolute;
	right: 30%;
	top: 150px;
	font-size: 35pt;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
	opacity: 0;
	will-change: opacity;
	transition: opacity 0.2s ease-out;
}
.components .close-description:hover{
	background: rgba(0, 0, 0, 0.5);
	color: #f3765e;
}
.components .content{
	height: calc(100% - 150px);
	font-size: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.components .content .selected-name{
	font-size: 40pt;
	width: 30%;
	display: inline-block;
	text-align: center;
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
.components .content .selected-name span{
	margin: auto;
	display: inline-block;
}
.components .content .selected-description{
	font-size: 12pt;
	width: 30%;
	padding: 0 30px;
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}
.components .content.selected .selected-name{
	opacity: 1;
	transform: translateY(0);
}
.components .content.selected .selected-description{
	opacity: 1;
	transform: translateY(0);
}

.components .picture-container{
	display: inline-block;
	white-space: nowrap;
	position: relative;
}
.components .picture-container .picture-seleced-overlay{
	position: absolute;
	width: 0;
	height: 0;
	z-index: 100;
	bottom: 0;
	left: 0;
	overflow: hidden;
    transform: rotate(45deg) translateX(70px) translateY(1px);
	opacity: 0;
	transition: opacity 0.3s ease-out;
	border-radius: 15px;	
	border: 8px solid #ffffff;
}
.components .picture-container .picture-seleced-overlay:after{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    transform: rotate(-45deg) translateY(-20%);
    opacity: inherit;
}
.components .picture-container .picture-wrapper{
	width: 206px;
	height: 206px;
	transform: rotate(45deg);
	display: inline-block;
	border-radius: 15px;
	background: #ffffff;
	padding: 3px;
}
.components .picture-container .picture-wrapper:nth-child(2){
	transform: rotate(45deg) translateX(20px) translateY(-20px);
}
.components .picture-container .picture-wrapper:nth-child(3){
	transform: rotate(45deg) translateX(-26px) translateY(26px);
}
.components .picture-container .picture-wrapper .picture-row .picture{
	width: 94px;
	height: 94px;
	display: inline-block;
	margin: 3px;
	background-color: #333333;
	background-size: 0 00;
	background-position: center;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	border-radius: 15px;	
}
.components .picture-container .picture-wrapper .picture-row .picture:after{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 150%;
    background-image: inherit;
    background-color: #333333;
    background-size: cover;
    background-position: center;
    transform: rotate(-45deg) translateY(-20%);
}
.components .picture-container .picture-wrapper .picture-row .picture:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    background: #ffffff;
    opacity: 0.2;
	transition: opacity 0.2s ease-out;
}
.components .picture-container .picture-wrapper .picture-row .picture:hover:before{
    opacity: 0;
}

.clients{
	background: #ffffff;
	height: 70vh;
	overflow-x: hidden;
	display: flex;
	align-items: center;
}
.clients .clients-list-container{
	width: 100%;
	position: relative;
}
.clients .clients-list-container  div[class^="arrow"]{
	height: 100%;
	width: 80px;
	background: rgba(255,255,255,0.5);
	position: absolute;
	top: 0;
	z-index: 100;
	cursor: pointer;
}
.clients .clients-list-container div[class^="arrow"] span{
	display: block;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%) scale3d(0.7, 2.5, 0.7);
	font-size: 1.5em;
	color: #00afcc;
}
.clients .clients-list-container .arrow-scroll-left{
	left: 0;
}
.clients .clients-list-container .arrow-scroll-right{
	right: 0;
}

.clients .clients-list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: 0;
	transition: transform 0.4s ease-out;
	position: relative;
}
.clients .clients-list a{
	display: inline-block;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
	transition: transform 0.5s ease;
	transform: scale3d(0.6, 0.6, 0.6);
}
.clients .clients-list img{
	height: 100%;
	filter: grayscale(100%);
	transition: filter 0.4s ease;
}
.clients .clients-list a.selected{
	transform: scale3d(1, 1, 1);
}
.clients .clients-list a.selected img{
	filter: grayscale(0%);
}
.clients .clients-list a:hover img{
	filter: grayscale(0%);
}