
.uniform{
    /*height: 100vh;*/
    width: 100%;
    position: relative;
}
.responsive-width{
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
}
/*
body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content: url('/public/images/component-photos/samila.jpg')
    url('/public/images/component-photos/monique.jpg')
    url('/public/images/component-photos/edi.jpg')
    url('/public/images/component-photos/manu.jpg')
    url('/public/images/component-photos/felipe.jpg')
    url('/public/images/component-photos/roberta.jpg')
    url('/public/images/component-photos/samir.jpg');
}
*/

body.blurred{
  overflow: hidden
}
/*body.blurred section{
  -webkit-filter: blur(3px);
          filter: blur(3px);
  overflow: hidden;
}*/


 header{
}
 header h1.simple{
    display: inline-block;
    margin: auto;
}
 header h1.simple span{
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    font-size: 0.85em;
}
 header h1.simple br{
    display: none;
}
 header h1.simple hr{
    height: 1px;
    background: #ffffff;
    width: 10%;
    margin-top: -40px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: width 0.5s ease-out;
    transition: width 0.5s ease-out;
}

 header.passed h1.simple hr{
    width: 20%;
}


article p, aside p{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
}



/* START introduce style */

.introduce{
    background-color: #333;
    height: 100vh;
    min-height: 400px;
    z-index: 10;
}
.introduce:before{
  content: '';
  position: absolute;
  background-image: url('/public/images/icons/city.png');
  background-repeat: repeat-x;
  background-position: center bottom;
  height: 50px;
  width: 100%;
  bottom: 0;
  z-index: 90;
}
.introduce .bottom-gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    z-index: 20;
    background: rgba(0,0,0,0.8); /* Old browsers */ /* FF3.6-15 */
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to top, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(0,0,0,0)', endColorstr='rgba(0,0,0,0.8)',GradientType=0 ); /* IE6-9 */
}

.introduce .introduce-background-overlay{
    width: 100%;
    height: 100%;
    background: url('/public/images/overlay-dots.png') rgba(0,0,0, 0.05) repeat;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.9;
    z-index: 10;
}

.introduce .introduce-background{
  width: 100%;
  height: 100%;
  background-image: url('/public/images/welcome-slide/background-wallpaper.jpg');
  background-position: center bottom;
  background-size: cover;
  background-position: right;
  background-attachment: static;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 1;
  -webkit-transition: background-size 1s ease-in, opacity 2s linear;
  transition: background-size 1s ease-in, opacity 2s linear;
}
.introduce .header-content{
  height: 100%;
  position: relative;
  z-index: 50;
  margin: auto;
  display: table;
  text-align: center;
  padding: 0 20px;
}
.introduce .header-content .header-content-wrapper{
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}
.introduce .header-content-align .meet-buttons,
.introduce .header-content-align .header-title,
.introduce .header-content-align .header-subtitle{
  display: block;
  margin: 15px auto;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
}
.introduce .header-content-align .header-title{
  font-family: 'Raleway', sans-serif;
}
.introduce .header-content-align .header-subtitle{
  font-family: 'Maven Pro', sans-serif;
}
.introduce .header-content-align .meet-buttons{
  margin-top: 35px;
}
.introduce .header-content-align .meet-buttons .meet-button{
  display: inline-block;
  padding: 14px 12px;
  border: 1px solid #fff;
  border-radius: 25px;
  font-size: 0.75em;
  width: 140px;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  line-height: 16px;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.introduce .header-content-align .meet-buttons .meet-us-button:hover{
  background: #ffffff;
  color: #20264a;
}

.introduce .header-content-align .meet-buttons .meet-your-instagram{
  background: #ffffff;
  color: #20264a;
  -webkit-transition: background-color 0.2s ease-in-out,
                      color 0.2s ease-in-out,
                      border-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out,
              color 0.2s ease-in-out,
              border-color 0.2s ease-in-out;
}
.introduce .header-content-align .meet-buttons .meet-your-instagram:hover{
  background: #3ab4b4;
  color: #ffffff;
  border: 1px solid #3ab4b4;
}

.introduce .arrow-bottom{
	position: absolute;
	bottom: 20px;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
	        transform: translateX(-50%) translateY(-50%) rotate(90deg);
  z-index: 80;
  -webkit-animation: pulse 1.5s ease-in infinite;
          animation: pulse 1.5s ease-in infinite;
  cursor: pointer;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
.introduce .arrow-bottom span{
	font-size: 2em;
	color: #ffffff;
  font-weight: lighter;
}



@media (max-width: 600px){
  .introduce .header-content-align .meet-buttons .meet-button{
    margin-right: 0 !important;
    margin-bottom: 15px !important;
  }
  .introduce .header-content-align .header-title {
    font-size: 1.4em;
  }
}


@-webkit-keyframes pulse{
  0% {
    -webkit-transform: translateX(-50%) translateY(-30%) rotate(90deg);
            transform: translateX(-50%) translateY(-30%) rotate(90deg);
  }
  30%{
    -webkit-transform: translateX(-50%) translateY(0%) rotate(90deg);
            transform: translateX(-50%) translateY(0%) rotate(90deg);
  }
  90%{
    -webkit-transform: translateX(-50%) translateY(-15%) rotate(90deg);
            transform: translateX(-50%) translateY(-15%) rotate(90deg);
  }
  100%{
    -webkit-transform: translateX(-50%) translateY(-30%) rotate(90deg);
            transform: translateX(-50%) translateY(-30%) rotate(90deg);
  }
}

@keyframes pulse{
  0% {
    -webkit-transform: translateX(-50%) translateY(-30%) rotate(90deg);
            transform: translateX(-50%) translateY(-30%) rotate(90deg);
  }
  30%{
    -webkit-transform: translateX(-50%) translateY(0%) rotate(90deg);
            transform: translateX(-50%) translateY(0%) rotate(90deg);
  }
  90%{
    -webkit-transform: translateX(-50%) translateY(-15%) rotate(90deg);
            transform: translateX(-50%) translateY(-15%) rotate(90deg);
  }
  100%{
    -webkit-transform: translateX(-50%) translateY(-30%) rotate(90deg);
            transform: translateX(-50%) translateY(-30%) rotate(90deg);
  }
}




/* START section-numbers style */

.section-numbers article{
  height: auto;
  min-height: 230px;
  position: relative;
}
.section-numbers .wrapper{
  height: 100%;
  margin: auto;
}
.section-numbers .wrapper hr{
  height: 65px;
  width: 2px;
  background: rgba(58, 180, 180, 0.4);
  margin-top: 20px;
  border-radius: 5px;
  margin-left: 1%;
  margin-right: 3%;
  display: inline-block;
}
.section-numbers .wrapper .number-count{
  width: 20%;
  height: 100%;
  display: inline-block;
  text-align: center;
}
.section-numbers .wrapper .number-wrapper{
  display: inline-block;
  padding-left: 65px;
  background-size: 45px auto;
  background-position: left 8px;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  text-align: left;
}
.section-numbers .wrapper .number-wrapper .number{
  display: block;
  font-size: 3em;
  color: #3ab4b4;
  font-family: 'Century Gothic', sans-serif;
}
.section-numbers .wrapper .number-wrapper .description{
  display: block;
  margin-top: -15px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #232e56;
}

@media (max-width: 1000px) {
  .section-numbers .wrapper hr:nth-of-type(2){
    display: none;
  }
  .section-numbers .wrapper .number-count{
    width: 45%;
  }
}
@media (max-width: 450px) {
  .section-numbers .wrapper hr:nth-of-type(2),
  .section-numbers .wrapper hr{
    display: block;
    width: 40%;
    margin: auto;
    height: 2px;
    margin-bottom: 25px;
  }

  .section-numbers .wrapper .number-count{
    width: 100%;
  }
  .section-numbers .wrapper .number-wrapper{
    margin-bottom: 25px;
  }
}



/* START splitter-phrase style */

.splitter-phrase{
  height: 350px !important;
  min-height: 350px !important;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: table;
  background-image: url('/public/images/fortaleza.jpg');
  background-position: center;
  background-size: cover;
}

@media (max-width: 450px) {

  .splitter-phrase{
    font-size: 0.8em;
  }
}

.splitter-phrase:before{
  content: '';
  height: 350px;
  width: 180px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url('/public/images/ornament.png');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
}
.splitter-phrase .wrapper{
  margin: auto;
  display: table;
  height: 100%;
}
.splitter-phrase .wrapper .vertical-align{
  margin: auto;
  display: table-cell;
  vertical-align: middle;
}
.splitter-phrase .wrapper .vertical-align p{
  font-size: 2.5em;
}
.splitter-phrase .wrapper .vertical-align br{
  font-size: 0pt;
}
.splitter-phrase .wrapper .vertical-align hr{
  height: 2px;
  width: 40px;
  background: #ffffff;
  margin-top: 10px;
  float: left;
}
.splitter-phrase .wrapper .vertical-align p:nth-child(1){
  color: #3ab4b4;
  font-size: 2.3em;
  font-family: 'Century Gothic', sans-serif;
}
.splitter-phrase .wrapper .vertical-align p:nth-child(2){
  font-size: 2.5em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  color: #ffffff;
}



/* START section-maps style */

.section-maps .show-map{
  height: 100vh;
  width: 100%;
  position: relative;
}
.section-maps .show-map .print-establishments{
  position: absolute;
  display: inline-block;
  background: #ffffff;
  left: 15px;
  bottom: 15px;
  z-index: 100;
  padding: 16px;
  font-size: 0.8em;
  border-radius: 4px;
  border-bottom: 3px solid #3ab4b4;
  color: #3ab4b4;
  height: 58px;
  box-shadow: 0 2px 10px 3px rgba(0,0,0,0.1);
  cursor: pointer;
}
.section-maps .show-map .print-establishments:hover{
  box-shadow: 0 0px 3px 1px rgba(0,0,0,0.1);
}
.section-maps .map-container, .section-maps .map-container #main-map{
  height: 100%;
  width: 100%;
}
.section-maps .show-map .search-form{
  width: 100%;
  height: 60px;
  max-width: 900px;
  display: inline;;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  left: 50%;
  top: 100px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 100;
  padding: 0 15px;
}
.section-maps .show-map .search-form form{
  width: 100%;
  height: 100%;
}
.search-autocomplete{
  width: 100%;
  height: 100px;
  height: auto;
  max-height: 300px;
  overflow: auto;
  display: inline;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 5px 0;
  background: #ffffff;
  margin-top: 8px;
  border-radius: 4px;
  border-bottom: 3px solid #3ab4b4;
  box-shadow: 0 2px 10px 3px rgba(0,0,0,0.1);
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}
.search-autocomplete ul li{
  list-style: none;
  font-family: 'Raleway', sans-serif;
  padding: 15px;
  border-top: 1px solid rgba(58, 180, 180, 0.5);
  width: 100%;
  height: auto;
  -webkit-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
  cursor: pointer;
}
.search-autocomplete ul li:hover{
  background: #e1efef;
}
.search-autocomplete ul li:nth-child(1){
  border-top: 0px solid rgba(58, 180, 180, 0.5);
}
.search-autocomplete ul li span{
  display: inline-block;
}
.search-autocomplete ul li .location-name{
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.6);
}
.search-autocomplete ul li .location-address{
  float: right;
  color: #2a9696;
  font-size: 0.8em;
  margin-top: 8px;
}
.section-maps .show-map .search-form form .search-wrapper{
  display: inline-block;
  position: relative;
  width: calc(100% - 195px);
  height: 100%;
  vertical-align: middle;
}
.section-maps .show-map .search-form form .search-wrapper input{
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border-bottom: 3px solid #3ab4b4;
  box-shadow: 0 2px 10px 3px rgba(0,0,0,0.1);
  padding: 0 60px 0 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  font-family: 'Ubuntu', sans-serif;
  -webkit-transition: box-shadow 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out;
}
.section-maps .show-map .search-form form .search-wrapper input:focus{
  box-shadow: 0 0px 3px 1px rgba(0,0,0,0.1);
}
.section-maps .show-map .search-form form .search-wrapper input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}
.section-maps .show-map .search-form form .search-wrapper button{
  position: absolute;
  right: 0px;
  top: 0;
  height: 95%;
  width: 60px;
  opacity: 0.7;
  background-image: url('/public/images/icons/search.png');
  background-color: transparent;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}
.section-maps .show-map .search-form form .search-wrapper button:hover{
  opacity: 1.7;
}
.filters-wrapper{
  position: relative;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  width: 180px;
  margin-left: 10px;
}
.filters-wrapper .filters-modal-toggle{
  height: 100%;
  width: 100%;
  border-radius: 4px;
  border-bottom: 3px solid #3ab4b4;
  box-shadow: 0 2px 10px 3px rgba(0,0,0,0.1);
  padding: 0 20px;
  background: #ffffff;
  text-align: left;
  color: rgba(58, 180, 180, 0.6);
  font-size: 1.2em;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  background-image: url('/public/images/icons/filter-icon.png');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: calc(100% - 10px) center;
}
.filters-wrapper .filters-modal-toggle:hover{
  color: rgba(58, 180, 180, 0.9);
  box-shadow: 0 0px 3px 1px rgba(0,0,0,0.1);
}
.filters-wrapper .filters-modal{
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 8px;
  width: 400px;
  padding: 15px 13px 0 13px;
  border-radius: 4px;
  border-bottom: 3px solid #3ab4b4;
  box-shadow: 0 2px 10px 3px rgba(0,0,0,0.1);
  background: #ffffff;
}
.filters-wrapper .filters-modal .input-container{
  width: 100%;
  height: 40px;
  margin: 6px 0 15px 0;
  position: relative;
}
.filters-wrapper .filters-modal .input-container:before{
  content: '×';
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 100%;
  background: #3ab4b4;
  color: #ffffff;
  text-align: center;
  line-height: 42px;
  border-radius: 0 5px 5px 0;
  font-size: 1.2em;
  opacity: 1;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
.filters-wrapper .filters-modal .input-container.hidden:before{
  color: transparent;
}
.filters-wrapper .filters-modal .input-container.done:before{
  content: '✔';
  font-size: 0.9em;
}
.filters-wrapper .filters-modal input{
  border-radius: 4px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(58, 180, 180, 0.4);
  font-family: 'Raleway', sans-serif;
  padding: 0 50px 0 10px;
}
.filters-wrapper .filters-modal input:focus{
  border: 1px solid rgba(58, 180, 180, 1);
}
.filters-wrapper .filters-modal hr{
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.9);
}
.filters-wrapper .filters-modal span{
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.7);
}

.filters-modal.activated + button{
  color: rgba(58, 180, 180, 0.9);
  box-shadow: 0 0px 3px 1px rgba(0,0,0,0.1);
}
.filters-modal input[type=submit]{
  background: rgba(58, 180, 180, 0.9);
  padding: 10px 0;
  margin-bottom: 10px;
  color: white;
}
.filters-modal input[type=submit]:active{
  background: #299090;
}

@media (max-width: 600px){
  .section-maps .show-map .search-form form .search-wrapper{
    width: calc(100% - 75px);
  }
  .filters-wrapper{
    width: 60px;
    position: inherit;
  }
  .filters-wrapper .filters-modal-toggle{
    font-size: 0;
    background-position: center;
  }
  .filters-wrapper .filters-modal{
    width: calc(100% - 32px);
    right: 16px;
  }
}



/* START section-demo */

.section-demo{
  height: auto;
  min-height: 100vh;
  width: 100%;
}
.section-demo .wrapper{
  display: table;
  margin: auto;
  height: auto;
  min-height: 100vh;
  padding: 20px;
}
.section-demo .wrapper article{
  display: table-cell;
  vertical-align: middle;
}

.section-demo article .content{
  display: inline-block;
  width: 50%;
  height: 100%;
}
.section-demo article .content h2{
  font-family: 'Raleway', sans-serif;
  display: block;
  margin: 30px 20px 20px 20px;
  color: #3ab4b4;
}
.section-demo article .content p{
  font-family: 'Maven Pro', sans-serif;
  display: block;
  margin-top: 30px;
  line-height: 20px;
}
.section-demo article .content ul{
  display: block;
  margin: 30px 0 0 15px;
}
.section-demo article .content ul li{
  font-family: 'Maven Pro', sans-serif;
  margin: 10px 0;
}
.section-demo article .content a{
  display: block;
  margin-top: 30px;
  background: #3ab4b4;
  border: 30px;
  width: 130px;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  border-radius: 30px;
}

.section-demo article img{
  display: inline-block;
  height: 500px;
  float: right;
}

@media (max-width: 800px){
  .section-demo article{
    text-align: center;
  }
  .section-demo article .content{
    width: 100%;
    margin-bottom: 30px;
    text-align: left;
  }
  .section-demo article img{
    margin: auto;
    float: initial;
    width: 100%;
    max-width: 400px;
    height: auto;
  }
}



/* START galery style */

#galery{
  font-size: 0;
  width: 100%;
  background: #333;
}
#galery figure {
  display: inline-table;
  width: 20%;
  height: 20vw;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  background: #333;
}
#galery figure a{
  display: table;
}
#galery figure img{
  width: 101%;
  height: auto;
  -webkit-transform: translate(0, 0%);
          transform: translate(0, 0%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  display: table-cell;
  vertical-align: middle;
}
#galery figure figcaption{
  position: absolute;
  height: 50%;
  width: 100%;
  background: #333333;
  bottom: 0;
  left: 0;
  -webkit-transform: translate(0, 100%);
          transform: translate(0, 100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  color: #fff;
  padding: 15px;
  font-size: 12pt;
  text-align: center;
  /*display: flex;*/
  /*justify-content: space-between;*/
}
#galery figure figcaption .caption-info{
  display: inline-block;
  padding: 3px;
  margin: auto;
  text-align: center;
  position: relative;
}
#galery figure figcaption .caption-info i{
  display: inline-block;
  vertical-align: middle;
}
#galery figure figcaption .caption-info span{
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  vertical-align: middle;
}
#galery figure figcaption .tag{
  height: 20px;
  font-size: 0.9em;
}
#galery figure figcaption .likes{
  height: 50px;
  font-size: 3em;
  z-index: 2;
  margin-bottom: 4px;
}
#galery figure figcaption .likes i{
  padding-right: 10px;
}
#galery figure figcaption .time:before{
  content: '';
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
  z-index: -3;
}
#galery figure figcaption .time {
  background: #333;
  z-index: 1;
  width: 100%;
  opacity: 0.7;
  margin-top: 10px;
}
#galery figure figcaption .time i{
  padding: 0 5px;
}
#galery figure figcaption .time .value{
  padding-right: 5px;
}
#galery figure figcaption .time i,
#galery figure figcaption .time span{
  background-color: #333;
  margin: 0;
  z-index: 1;
}
#galery figure:hover img{
  -webkit-transform: translate(0, -20%);
          transform: translate(0, -20%);
}
#galery figure:hover figcaption{
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

@media (max-width: 450px) {
  #galery{
    font-size: 0;
    width: 160%;
    background: #333;
  }
}


/* START depoisitions style */

.depositions{
    overflow: hidden;
    height: 90vh !important;
    min-height: 500px;
    background-image: url('/public/images/wood-background-white-vertically.jpg');
    background-size: 100% auto;
    background-position: center;
    background: #DADFE1;
}
.depositions .depositions-container{
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    height: 100%;
    font-size: 0;
    margin: auto;
    background-size: 0 0;
    z-index: 10;
}
.depositions .depositions-container:active{
}
.depositions .depositions-container .depositions-wrapper{
    width: 100%;
    display: inline-block;
    font-size: 12pt;
    position: relative;
    height: 100%;
    overflow-y: hidden;
}
.depositions .depositions-container .depositions-wrapper .deposition{
    width: 60%;
    margin: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-70%);
            transform: translateX(-50%) translateY(-70%);
    min-width: 500px;
}
.depositions .depositions-container .depositions-wrapper .deposition:before{
    content: '"';
    position: absolute;
    left: 0;
    top: 27px;
    font-size: 7.4em;
    font-family: 'Trebuchet MS', sans-serif;
    color: rgba(0,0,0,0.5)
}
.depositions .depositions-container .depositions-wrapper .deposition h2{
    font-size: 1.6em;
    margin-bottom: 20px;
    font-family: 'Mavem Pro', sans-serif;
    text-transform: uppercase;
    color: rgba(112, 157, 162, 0.6);
}
.depositions .depositions-container .depositions-wrapper .deposition p{
    white-space: normal;
    font-size: 1em;
    line-height: 1.5em;
    width: calc(100% - 50px);
    margin-left: 50px;
    font-style: normal;
    font-family: 'Raleway', sans-serif;
}
.depositions .depositions-container .depositions-wrapper .deposition hr{
    height: 1px;
    width: 30%;
    background: #333333;
    margin-top: 15px;
    float: right;
    clear: both;
}
.depositions .depositions-container .depositions-wrapper .deposition small{
    float: right;
    margin-top: 25px;
    font-style: italic;
}
.depositions div[class^="arrow"]{
    height: 100%;
    width: 10%;
    position: absolute;
    top: 0;
    z-index: 100;
    cursor: pointer;
    display: block;
}
.depositions div[class^="arrow"]:hover span{
    color: rgba(0,0,0,.5);
}
.depositions div[class^="arrow"] span{
    display: block;
    text-align: center;
    position: absolute;
    top: 40%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 9.5vmin;
    color: rgba(0,0,0,.3);
    -webkit-transition: color 0.5s ease;
    transition: color 0.5s ease;
    font-family: Verdana, sans-serif
}
.depositions .arrow-scroll-left{
    left: 0;
}
.depositions .arrow-scroll-right{
    right: 0;
}
.depositions .arrow-scroll-left span{
    left: 15px;
}
.depositions .arrow-scroll-right span{
    right: 15px;
}

.depositions .depositions-index-marker{
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 80;
}
.depositions .depositions-index-marker span{
  display: inline-block;
  vertical-align: middle;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: transparent;
  margin: 0 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #70a1a1;
  cursor: pointer;
}
.depositions .depositions-index-marker span.selected{
  background: #70a1a1;
  margin: 0 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #70a1a1;
}
