<footer class="main-footer">
	<header>
		<h1 class="simple">
			<span>ENTRE EM CONTATO</span>
			<br>
			<hr>
		</h1>
	</header>
	<div class="content">
		<div class="wrapper">
			<form class="" method="post">
				<div class="form-row">
					<input type="text" placeholder="Nome" name="name" >
					<input type="text" placeholder="Email" name="email" >
				</div>
				<div class="form-row">
					<textarea placeholder="Mensagem" name="message" ></textarea>
				</div>
				<div class="form-row">
					<input type="submit" name="submit" value="ENVIAR">
				</div>
			</form>
		</div>
	</div>
	<footer>
		<nav>
			<ul>
				<li>
					<a href="#" style="background-image: url('/public/Images/icons/facebook.png')"></a>
				</li>
				<li>
					<a href="#" style="background-image: url('/public/Images/icons/instagram.png')"></a>
				</li>
				<li>
					<a href="#" style="background-image: url('/public/Images/icons/twitter.png')"></a>
				</li>
				<li>
					<a href="#" style="background-image: url('/public/Images/icons/email.png')"></a>
				</li>
			</ul>
		</nav>
	</footer>
</footer>
