<footer class="main-footer">
	<header class="section-title bottom light">
		<div>
			<h2>ENTRE EM CONTATO</h2>
			<span></span>
		</div>
	</header>
	<div class="content">
		<div class="fotter-content-wrapper responsive-width">
			<form method="post">
				<div class="form-row">
					<div class="form-input-container" style="background-image: url('/public/images/icons/person-icon.png')" >
						<input type="text" class="form-input" placeholder="Nome" name="name" >
					</div>
					<div class="form-input-container" style="background-image: url('/public/images/icons/at-icon.png')" >
						<input type="text" class="form-input" placeholder="Email" name="email" >
					</div>
					<div class="form-input-container" style="background-image: url('/public/images/icons/info-icon.png')" >
						<input type="text" class="form-input" placeholder="Assunto" name="subject" >
					</div>
				</div>
				<div class="form-row">
					<div class="form-input-container" style="background-image: url('/public/images/icons/message-icon.png')" >
						<textarea class="form-input" placeholder="Mensagem" name="message" ></textarea>
					</div>
				</div>
				<div class="form-row clearfix">
					<input type="submit" name="submit" value="ENVIAR">
				</div>
			</form>
			<hr>
			<div class="info">

			</div>
		</div>
	</div>
	<footer>
		<div class="align responsive-width" >
			<div class="wrapper">
				<br><br>
				Ruas Biográficas - 2017 <br>
				Fortaleza - CE <br><br>
				<small>Mandalla Comunicação - Copyright (c) 2017 Copyright Holder All Rights Reserved.</small>
			</div>
		</div>
	</footer>
</footer>
