<nav class="networking">
  <ul>
    <li>
      <a href="#" style="background-image: url('/public/Images/icons/facebook.png')"></a>
    </li>
    <li>
      <a href="#" style="background-image: url('/public/Images/icons/instagram.png')"></a>
    </li>
    <li>
      <a href="#" style="background-image: url('/public/Images/icons/twitter.png')"></a>
    </li>
    <li>
      <a href="#" style="background-image: url('/public/Images/icons/email.png')"></a>
    </li>
  </ul>
</nav>
