<style>
  .introduce{
    height: 60vh;
    background-image: url('/public/images/background-introduces/<$- filename $>.jpg');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .introduce h1{
    font-size: 2em;
  }
  .introduce h1 span{
    display: inline-block;
    color: white;
    text-transform: uppercase;
    width: 250px;
    vertical-align: middle;
  }

  @media (max-width: 600px){
    .introduce h1{
      font-size: 1.3em;
      width: 320px;
    }

    .introduce h1 span{
      width: 45%;
    }
  }
  .introduce h1 hr{
    display: inline-block;
    height: 50px;
    vertical-align: middle;
    width: 1px;
    margin: 0 5px;
    background: rgba(58, 180, 180, 1);
  }

  .introduce h1 span:nth-of-type(1){
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
  }

  .introduce h1 span:nth-of-type(2){
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: rgba(58, 180, 180, 1);
  }

  .welcome{
    height: 40vh;
    background: rgba(58, 180, 180, 1);
    position: relative;
  }
  .welcome:after{
    content: '';
    width: 150px;
    height: 100px;
    position: absolute;
    left: auto;
    bottom: 100%;
    right: 0;
    background-image: url("/public/images/ornament-green.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    background-position: right bottom;
  }
</style>

<header class="introduce align-center-both-table viewport-units" data-properties="height: 60vh" style="padding-top: 90px">
  <div class="header-content content-align" >
    <div class="content-wrapper content-wrapper">
      <h1>
        <span>Ruas<br>Biográgicas</span>
        <hr>
        <span><$- pagename $></span>
      </h1>
    </div>
  </div>
</header>
<section class="welcome viewport-units" data-properties="height: 40vh" >
  <header class="section-title bottom">
    <div>
      <h2><$- pagephrase $></h2>
    </div>
  </header>

	<div class="arrow-bottom">
		<span>❯</span>
	</div>
  <style>
    .arrow-bottom{
      bottom: 0;
      -webkit-transform: translateX(-50%) translateY(0%) rotate(90deg);
              transform: translateX(-50%) translateY(0%) rotate(90deg);
    }
  </style>
</section>
