<meta charset="utf-8">
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="content-language" content="br" />
<title><$- pagetitle + (pagetitle == "" ? "" : " | ") + "Ruas Biográficas" $></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/public/stylesheet/general.css">
<link rel="stylesheet" href="/public/stylesheet/<$- pagename $>.css">
<link href="https://fonts.googleapis.com/css?family=Maven+Pro|Raleway:100,300,400|Ubuntu" rel="stylesheet">
<link href="/public/stylesheet/libs/font-awesome/font-awesome.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/public/javascript/libs/smooth-scroll/smoothscroll.js" ></script>
<script src="/public/javascript/libs/modernizr/modernizr.js" ></script>
<script src="/public/javascript/general.js" ></script>
