<div class="topbar <$- classTopbar $> static">
	<div class="topbar-content responsive-width">
		<div class="logo">
			<a href="/">
				<img src="/public/Images/logo-white.png" alt="Logo Mandalla Comunicação">
				<img src="/public/Images/logo-colorfull.png" alt="Logo Mandalla Comunicação">
			</a>
		</div>
		<div class="topbar-side-menu">
			<nav class="topbar-menu-options">
				<ul>
					<li><a href="/">Início</a></li>
					<li><a href="/exposicao">Exposição</a></li>
					<li><a href="#">Audiografias</a></li>
					<li><a href="#">Imprensa</a></li>
					<li><a href="#">Sobre</a></li>
					<li><a href="#">Contato</a></li>
				</ul>
			</nav>
			<div class="main-menu-icon">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<script>
				(function(){
					var topbarMenuOptions = document.querySelectorAll('.topbar-menu-options ul li');
					var paths = ['/', '/exposicao', '/audiografias', '/imprensa', '/sobre', '/contato'];
					var pathname = window.location.pathname.match(/^\/[a-z-._#$%&]*/g)[0];
					var index = paths.indexOf(pathname);
					$(topbarMenuOptions[index]).class.add('i-am-here');
				})();
			</script>
			<div class="search-icon">
				<i class="fa fa-search fa-lg"></i>
			</div>
		</div>
		<hr class="soft-line" >
	</div>
</div>
