<div class="topbar static">
	<div class="topbar-content responsive-width">
		<div class="logo">
			<a href="/">
				<img src="/public/Images/logo-white.png" alt="Logo Mandalla Comunicação">
				<img src="/public/Images/logo-colorfull.png" alt="Logo Mandalla Comunicação">
			</a>
		</div>
		<div class="topbar-side-menu">
			<nav class="topbar-menu-options">
				<ul>
					<li><a href="#">Início</a></li>
					<li><a href="#">Sobre</a></li>
					<li><a href="#">Quem Somos</a></li>
				</ul>
			</nav>
			<div class="search-icon">
				<span></span>
			</div>
		</div>
		<hr class="soft-line" >
	</div>
</div>
