<div class="topbar static">
	<div class="topbar-content responsive-width">
		<div class="logo">
			<a href="/">
				<img src="/public/Images/logo-white.png" alt="Logo Mandalla Comunicação">
				<img src="/public/Images/logo-colorfull.png" alt="Logo Mandalla Comunicação">
			</a>
		</div>
		<div class="topbar-side-menu">
			<nav class="topbar-menu-options">
				<ul>
					<li  class="i-am-here"><a href="#">Início</a></li>
					<li><a href="#">Exposição</a></li>
					<li><a href="#">Audiografias</a></li>
					<li><a href="#">Imprensa</a></li>
					<li><a href="#">Sobre</a></li>
					<li><a href="#">Contato</a></li>
				</ul>
			</nav>
			<div class="search-icon">
				<span></span>
				<!--
				<svg version="1.1"
						 xmlns="http://www.w3.org/2000/svg"
						 xmlns:xlink="http://www.w3.org/1999/xlink"
						 xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/" x="0px" y="0px" width="25.017px" height="26.382px" viewBox="0 0 31.017 32.382" enable-background="new 0 0 31.017 32.382" xml:space="preserve">
					<defs></defs>
					<g>
						<circle class="search-icon-piece" fill="none" stroke-width="2" stroke-miterlimit="10" cx="13.558" cy="13.558" r="12.058"></circle>
						<line class="search-icon-piece" fill="#ffffff" stroke-width="4" stroke-linecap="round" stroke-miterlimit="10" x1="21.372" y1="22.737" x2="29.517" y2="30.882"></line>
					</g>
				 </svg>
			 -->
			</div>
		</div>
		<hr class="soft-line" >
	</div>
</div>
