<div class="topbar static">
	<div class="topbar-content">
		<div class="logo">
			<a href="/">
				<img src="/public/Images/logo-white.png" alt="Logo Mandalla Comunicação">
				<img src="/public/Images/logo-colorfull.png" alt="Logo Mandalla Comunicação">
			</a>
		</div>
		<div class="topbar-side-menu">
			<nav class="topbar-menu-options">
				<ul>
					<li><a href="#">Lorem</a></li>
					<li><a href="#">Ullamco</a></li>
					<li><a href="#">incididunt</a></li>
				</ul>
			</nav>
			<div class="topbar-main-menu">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
</div>