<div class="topbar <$- classTopbar $> static">
	<div class="topbar-content responsive-width">
		<div class="logo">
			<a href="/">
				<img src="/public/Images/logo-white.png" alt="Logo Mandalla Comunicação">
				<img src="/public/Images/logo-colorfull.png" alt="Logo Mandalla Comunicação">
			</a>
		</div>
		<div class="topbar-side-menu">
			<nav class="topbar-menu-options">
				<ul>
					<li><a href="/">Início</a></li>
					<li><a href="/exposicao">Exposição</a></li>
					<li><a href="/audiografias">Audiografias</a></li>
					<li><a href="/imprensa">Imprensa</a></li>
					<li><a href="/sobre">Sobre</a></li>
					<li><a href="/contato">Contato</a></li>
				</ul>
			</nav>
			<div class="main-menu-icon">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<script>
				(function(){
					var topbarMenuOptions = document.querySelectorAll('.topbar-menu-options ul li');
					var paths = ['/', '/exposicao', '/audiografias', '/imprensa', '/sobre', '/contato'];
					var pathname = window.location.pathname.match(/^\/[a-z-._#$%&]*/g)[0];
					var index = paths.indexOf(pathname);
					$(topbarMenuOptions[index]).class.add('i-am-here');
				})();
			</script>
			<div class="search-icon">
				<i class="fa fa-search fa-lg"></i>
			</div>
		</div>
		<hr class="soft-line" >
	</div>
</div>

<div class="search-container viewport-units" data-properties="width: 100vw; height: 100vh;">
	<div class="search-background-overlay"></div>
	<div class="search-wrapper">
		<div class="close-icon">&#x2573;</div>
		<form class="" action="" method="post">
			<input type="text" name="main-search" >
			<button type="submit" name="do-search">
				<i class="fa fa-search" ></i>
			</button>
		</form>
	</div>
</div>
