<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<$- include('../standart-preload', {pagetitle: 'Imprensa', pagename: "press"}) $>
		<script type="text/javascript"></script>
	</head>
	<body >

		<!-- .topbar -->
		<$- include('../topbar', {classTopbar: "dark"}); $>

    <$- include('../other-pages', {pagename: "imprensa", pagephrase: "O que é, é e não pode não ser"}) $>

		<section class="page-wrapper" >

		</section>

		<$- include('../footer') $>

	</body>
</html>
