<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Mandalla Comunicação</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/public/stylesheet/general.css">
		<link rel="stylesheet" href="/public/stylesheet/home.css">	
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans|Open+Sans+Condensed:300i|Questrial" rel="stylesheet"	>
		<style></style>
	</head>
	<body>

		<!-- .topbar -->
		<$- include('../topbar'); $>


		<!-- Section .introduce -->
		<$- include('./partials/section-introduce'); $>

		<!-- Section .portfolio -->
		<$- include('./partials/section-portfolio'); $>

		<!-- Section .who-we-are -->
		<$- include('./partials/section-who-we-are'); $>

		<!-- Section .components -->
		<$- include('./partials/section-components'); $>

		<!-- Section .clients -->
		<$- include('./partials/section-clients'); $>

		<!-- Section .depositions -->
		<$- include('./partials/section-depositions'); $>


		<!-- .main-footer -->
		<$- include('../footer'); $>

		<script src="/public/javascript/general.js" ></script>
		<script src="/public/javascript/home.js" ></script>
	</body>
</html>
