<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<$- include('../standart-preload', {pagetitle: '', pagename: "home"}) $>
		<script type="text/javascript">
	    var dataEstablishments;
			var followed_byCount;
			var fulldate = <$- JSON.stringify(data.fulldate); $>;
		</script>
	</head>
	<body>

		<!-- .topbar -->
		<$- include('../topbar', {classTopbar: ''}); $>

		<!-- Section .introduce -->
		<$- include('./partials/section-introduce'); $>

		<!-- Section .portfolio -->
		<$- include('./partials/section-numbers'); $>

    <section class="splitter-phrase" data-animation-offset="300" >
      <div class="wrapper responsive-width">
				<div class="vertical-align">
					<p class="animation-point slide-crop-x" >MAIS DE 200 RUAS</p>
					<p class="animation-point fade-in" >MUITAS HISTÓRIAS</p>
					<hr class="animation-point grow-x" >
				</div>
      </div>
    </section>

		<!-- Section .who-we-are -->
		<$- include('./partials/section-maps'); $>

		<!-- Section .components -->
		<$- include('./partials/section-demo'); $>

		<!-- Section .splitter-background -->
		<$- include('../splitter-background') $>

		<!-- Section .clients -->
		<$- include('./partials/section-galery'); $>

		<!-- Section .depositions -->
		<$- include('./partials/section-depositions'); $>

		<section class="section-sponsors">
			<header class="section-title bottom" >
				<div>
					<h2>Patrocinadores</h2>
					<span></span>
				</div>
			</header>
			<article>

			</article>
		</section>

		<section class="section-support">
			<header class="section-title bottom" >
				<div>
					<h2>Apoio</h2>
					<span></span>
				</div>
			</header>
			<article>
				<div class="supporters">
					<img src="" alt="">
				</div>
			</article>
		</section>

		<section class="section-support">
			<header class="section-title bottom" >
				<div>
					<h2>estabelecimentos</h2>
					<span></span>
				</div>
			</header>
			<article>
				<div class="supporters">
					<img src="" alt="">
				</div>
			</article>
		</section>

		<!-- .main-footer -->
		<$- include('../footer'); $>

		<!-- Copyright (c) 2017 Copyright Holder All Rights Reserved. -->

		<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDF6m-mdz6eTmb-x5CuGaGXkBUjjaceVSE&callback=initMap" defer async></script>
		<script defer type="text/javascript">
			function animateProjectNumbers(){
				var dataRequestCount = 0;
				var showPage = function(){
					$(document.body).class.add('all-requested');
					var loadedScript = document.createElement("script");
					loadedScript.src = "/public/javascript/home.js";
					document.body.appendChild(loadedScript);
				}
				dataRequest('establishments', function(err, data){
					if(!err) dataEstablishments = data;
					mapConfig();
					dataRequestCount++;
					if(dataRequestCount == 2){
						showPage()
					}
				});

				dataRequest('insta', function(error, data){
					if(!error){
						followed_byCount = data.data.counts.followed_by;
					}else{
						followed_byCount = 6709;
					}
					dataRequestCount++
					if(dataRequestCount == 2){
						showPage()
					}
				});

			};
		</script>
		<$- include('partials/google-maps-script'); $>
		<script src="/public/javascript/libs/smooth-scroll/smoothscroll.js" ></script>
	</body>
</html>
