<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Ruas Biográficas</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/public/stylesheet/general.css">
		<link rel="stylesheet" href="/public/stylesheet/home.css">
		<link href="https://fonts.googleapis.com/css?family=Maven+Pro|Raleway|Ubuntu" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
		<meta http-equiv="content-language" content="br" />
		<script src="/public/javascript/libs/modernizr/modernizr.js" ></script>
		<script src="/public/javascript/general.js" ></script>
		<script type="text/javascript">
			var dataRequest = function(code, callback){
	      var xml = new XMLHttpRequest();
	    	var url = "/data?q=" + code;
	    	xml.open("GET", url);
	    	xml.responseType = "json";
	    	xml.onload = function () {
	    	    if(xml.readyState === 4){
	    	        if(xml.status === 200 || xml.status == 0){
	              	var data = xml.response;
									callback(null, data);
	    	        }else{
									callback(xml.statusText, null);
								}
	    	    }
	    	}
	    	xml.send();
			}
		</script>
	</head>
	<body>

		<!-- .topbar -->
		<$- include('../topbar'); $>

		<div class="search-container">
			<div class="search-background-overlay"></div>
			<div class="search-wrapper">
				<div class="close-icon">&#x2573;</div>
				<form class="" action="" method="post">
					<input type="text" name="main-search" >
					<button type="submit" name="do-search"></button>
				</form>
			</div>
		</div>

		<!-- Section .introduce -->
		<$- include('./partials/section-introduce'); $>

		<!-- Section .portfolio -->
		<$- include('./partials/section-numbers'); $>

    <section class="splitter-phrase" >
      <div class="wrapper responsive-width">
				<div class="vertical-align">
					<p>MAIS DE 200 RUAS</p>
					<p>MUITAS HISTÓRIAS</p>
					<hr>
				</div>
      </div>
    </section>

		<!-- Section .who-we-are -->
		<$- include('./partials/section-maps'); $>

		<!-- Section .components -->
		<$- include('./partials/section-demo'); $>

		<div style="
			height: 300px;
			width: 100%;
			background-image: url('/public/images/background-splitter.png');
			background-repeat: no-repeat;
			background-size: cover;
		">
		</div>

		<!-- Section .clients -->
		<$- include('./partials/section-galery'); $>

		<!-- Section .depositions -->
		<$- include('./partials/section-depositions'); $>

		<section class="section-sponsors">
			<header class="section-title bottom" >
				<div>
					<h2>Patrocinadores</h2>
					<span></span>
				</div>
			</header>
			<article>

			</article>
		</section>

		<section class="section-support">
			<header class="section-title bottom" >
				<div>
					<h2>Apoio</h2>
					<span></span>
				</div>
			</header>
			<article>

			</article>
		</section>

		<!-- .main-footer -->
		<$- include('../footer'); $>

		<!-- Copyright (c) 2017 Copyright Holder All Rights Reserved. -->

		<script src="/public/javascript/home.js" ></script>
	</body>
</html>
