<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Mandalla Comunicação</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="/public/stylesheet/general.css">
		<link rel="stylesheet" href="/public/stylesheet/home.css">
		<style></style>
	</head>
	<body>
		<$- include('../topbar'); $>
		<section class="introduce uniform">
			<div class="top-gradient"></div>
			<div class="introduce-background" id="introduce-background2" ></div>
			<div class="introduce-background" id="introduce-background1" ></div>
			<div class="introduce-background-overlay"></div>
			<div class="services">
				<input type="radio" checked name="service-in-slide" id="service1">
				<label class="service" for="service1">
					<h1>ASSESSORIA DE COMUNICAÇÃO</h1>
					<p>Lorem ipsum Excepteur magna nulla ut cillum culpa aliquip</p>
				</label>
				<input type="radio" name="service-in-slide" id="service2">
				<label class="service" for="service2">
					<h1>PROJETOS VISUAIS</h1>
					<p>Lorem ipsum Excepteur magna nulla ut cillum culpa aliquip</p>
				</label>
				<input type="radio" name="service-in-slide" id="service3">
				<label class="service" for="service3">
					<h1>PUBLICAÇÕES</h1>
					<p>Lorem ipsum Excepteur magna nulla ut cillum culpa aliquip</p>
				</label>
				<input type="radio" name="service-in-slide" id="service4">
				<label class="service" for="service4">
					<h1>OUTROS SERVIÇOS</h1>
					<p>Lorem ipsum Excepteur magna nulla ut cillum culpa aliquip</p>
				</label>
			</div>
		</section>
		<section class="portfolio uniform">
			<div class="area-service" style="z-index: 10">
				<div class="overlay-background"></div>
				<span>ASSESSORIA DE<br style="font-size: 0">COMUNICAÇÃO</span>
				<div class="plus-icon">+</div>
			</div>
			<div class="area-service" style="z-index: 9">
				<div class="overlay-background"></div>
				<span>PROJETOS VISUAIS</span>
				<div class="plus-icon">+</div>
			</div>
			<div class="area-service" style="z-index: 8">
				<div class="overlay-background"></div>
				<span>PUBLICAÇÕES</span>
				<div class="plus-icon">+</div>
			</div>
			<div class="area-service" style="z-index: 7">
				<div class="overlay-background"></div>
				<span>OUTROS SERVIÇOS</span>
				<div class="plus-icon">+</div>
			</div>
		</section>
		<section class="who-we-are uniform">
			<div class="left-wrapper">
				<header>
					<h1>
						QUEM<br>SOMOS?&nbsp;
					</h1>
				</header>
				<article class="values" >
					<ul>
						<li>
							<h2>Lorem ipsum Nulla</h2>
							<p>Lorem ipsum Ullamco nostrud ea do labore esse aute sed. Lorem ipsum Laboris et tempor.</p>
						</li>
						<li>
							<h2>Lorem ipsum Nulla</h2>
							<p>Lorem ipsum Ullamco nostrud ea do labore esse aute sed. Lorem ipsum Laboris et tempor.</p>
						</li>
						<li>
							<h2>Lorem ipsum Nulla</h2>
							<p>Lorem ipsum Ullamco nostrud ea do labore esse aute sed. Lorem ipsum Laboris et tempor.</p>
						</li>
					</ul>
				</article>
			</div>
			<aside class="main-content">
				<div class="content">
					<h2>Lorem Culpa sit <br>dolor consequat fugiat</h2>
					<hr>
					<p>Lorem ipsum Dolor eu nisi ut aute cupidatat est dolor nisi. Lorem ipsum Excepteur enim qui id reprehenderit voluptate tempor amet reprehenderit pariatur et nostrud. Lorem ipsum Occaecat Excepteur in velit veniam veniam ad magna minim qui nulla.</p>
				</div>
			</aside>
		</section>
		<section class="components uniform">
			
		</section>
		<section class="clients uniform">
			<div class="clients-list">
				<$ data.clients.forEach(function(client, i){ $>
					<a href="<$- client.href $>" class="client">
						<img src="/public/Images/clients-logos/<$- client.imageSrc $>" alt="<$- client.name $>">						
					</a>
				<$ }); $>
			</div>
		</section>
		<style id="dynamic-properties">
			
		</style>
		<script>

	
			var clientsCarousel = function(){
				var clientsList = document.querySelector('.clients .clients-list');
				var clientsLinks = document.querySelectorAll('.clients-list .client');

				var rate = 100/clientsLinks.length;

				var selected = 0;
				var scrollRate = Math.floor(clientsLinks.length/2)*rate;
				
				clientsList.style.transform = "translateX(" + (scrollRate) + "%)";

				var increaseScroll = function(){
					if(scrollRate > -(((clientsLinks.length-2)-Math.floor(clientsLinks.length/2))*rate)){
						scrollRate -= rate;
						selected += 1;
					}else{
						scrollRate = Math.floor(clientsLinks.length/2)*rate;
						selected = 0;
					}
				}
				
				clientsLinks[selected].className += " selected";

				setInterval(function(){
					increaseScroll();
					clientsList.style.transform = "translateX(" + (scrollRate) + "%)";
					[].forEach.call(clientsLinks, function(clientLink){
						clientLink.className = "client";
					});
					clientsLinks[selected].className += " selected";
				}, 2000)
			}
			clientsCarousel();

			var fixTopBar = function(){
				var scrollTop = (document.body.scrollTop || window.scrollY);
				var topbar = document.querySelector('.topbar');

				if(scrollTop > 0){
					topbar.className = "topbar fixed";
				}else{
					topbar.className = "topbar static";
					//color = "#" + topbarBgsColor[Math.round(Math.random()*topbarBgsColor.length)];
				}
			}

			window.addEventListener('scroll', fixTopBar);
			window.addEventListener('DOMMouseScroll', fixTopBar);
			window.addEventListener('mousewheel', fixTopBar);
			window.addEventListener('wheel', fixTopBar);

			var backgroundUrls = ['slide1.jpg', 'slide2.jpg', 'slide3.jpg', 'slide4.jpg'];

			var dataImages = backgroundUrls.map(function(bg){
				return "/public/Images/welcome-slide/" + bg;
			});

			document.addEventListener('DOMContentLoaded', function(){
				
				var portfolio = document.querySelector('.portfolio');
				var portfolioServices = document.querySelectorAll('.portfolio .area-service');
				
				[].forEach.call(portfolioServices, function(service, i){
					service.addEventListener('mouseenter', function (e) {
						e.preventDefault();
						[].forEach.call(portfolioServices, function(serv, i){
							serv.style.width = "15%";
						})
						this.style.width = "55%";
					});
				})
				portfolio.addEventListener('mouseleave', function (e) {
					[].forEach.call(portfolioServices, function(serv, i){
						serv.style.width = "25%";
					})
				});	
				
				// Infinite slide loop
				function passSlide(){
					var bg1 = document.querySelector('#introduce-background1');
					var bg2 = document.querySelector('#introduce-background2');
					var radios = document.querySelectorAll('.introduce .services input[type=radio]');
					var index = 0;
					var delay = 5000;
					var transition = 2000;

					[].forEach.call(radios, function(radio, i){
						radio.addEventListener('change', function (e) {
							e.preventDefault();
						})
						document.querySelectorAll('.introduce .services label')[i].addEventListener('click', function(e){
							e.preventDefault();
						}, false);
					})

					var increaseIndex = function(){
						if(index >= dataImages.length-1){
							index = 0;
						}else{
							index++;
						}
						return index;
					}

					function fadeOut(){
						bg1.style['background-image']  = 'url("' + dataImages[index] + '")';
						bg2.style['background-image']  = 'url("' + dataImages[increaseIndex()] + '")';
						setTimeout(function(){
							bg1.style.opacity = 0;
							setTimeout(fadeIn, transition);
							radios[index].checked = true;
						}, delay);
					}
					function fadeIn(){
						bg2.style['background-image']  = 'url("' + dataImages[index] + '")';
						bg1.style['background-image']  = 'url("' + dataImages[increaseIndex()] + '")';
						setTimeout(function(){
							bg1.style.opacity = 1;
							setTimeout(fadeOut, transition);
							radios[index].checked = true;
						}, delay);
					}
					fadeOut();
				}
				passSlide();
			});
		</script>
	</body>
</html>