<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<$- include('../standart-preload', {pagetitle: 'Audiografias', pagename: "audiographs"}) $>
		<script type="text/javascript">
	    var dataAudiographs = <$- JSON.stringify(audiographs) $>;
		</script>
	</head>
	<body >

		<!-- .topbar -->
		<$- include('../topbar', {classTopbar: "dark"}); $>

    <$- include('../other-pages', {pagename: "audio<br>grafias", pagephrase: "O que é, é e não pode não ser"}) $>

		<section class="page-wrapper" >
			<div class="audiographs-search-container responsive-width m-auto" >
				<form action="/" method="post">
					<input placeholder="Pesquise por alguma rua que queira conhecer" type="text">
					<button type="submit" name="button">
						<i class="fa fa-search"></i>
					</button>
				</form>
			</div>
			<div class="audiographs-list-container responsive-width m-auto soft-scroll" >
				<$ audiographs.forEach((ag, index) => { $>
					<div class="audiograph-container">
            <figure class="audiograph-picture" >
							<img src="<$- ag.instagram_image_url $>" alt="">
            </figure>
						<div class="audiograph-content">
							<div class="audiograph-title" >
								<span>
									<i class="fa fa-instagram" ></i>
									<a target="_blank" href="<$- ag.instagram_link $>"><$- ag.street_name $></a>
								</span>
							</div>
							<div class="audiograph-counts" data-id="<$- ag._id $>" >
								<span class="listen-count" >
									<i class="fa fa-headphones" ></i>
									<span><$- ag.listen_count $></span>
								</span>
							</div>
							<div class="audio-enclosure"  data-id='<$- ag._id $>'>
								<audio>
									<source src="/ag/<$- ag.audio_file $>" type="audio/mp3">
								</audio>
								<div class="controls-container">
									<div class="left-controls">
										<i class="fa fa-play fa-lg" ></i>
									</div>
									<div class="time-line-container">
										<div class="range-line">
											<div class="progress"></div>
										</div>
									</div>
									<div class="time">
										<span></span>
									</div>
								</div>
							</div>
						</div>
          </div>
				<$ })$>
			</div>
		</section>

		<$- include('../footer') $>

		<script src="/public/javascript/audiographs.js" ></script>
	</body>
</html>
