<!DOCTYPE html>
<html lang="pt-br">
	<head>
    <$- include('../standart-preload', {pagetitle: 'Sobre', pagename: "about"}) $>
		<script type="text/javascript">
		</script>
	</head>
	<body >

		<!-- .topbar -->
		<$- include('../topbar', {classTopbar: "dark"}); $>

    <$- include('../other-pages', {pagename: "sobre", pagephrase: "O que é, é e não pode não ser"}) $>

		<section class="page-wrapper" >

		</section>

		<$- include('../footer') $>

		<script src="/public/javascript/audiographs.js" ></script>
	</body>
</html>
